._body.payment {
  width:100%;
  height: calc(100% - 98px - 78px);
  margin:0;
  padding:0;
  overflow: hidden;
  font-size: 16px;
  font-family: "Open Sans";
}

.payment .choose-type {
  width: 80%;
  margin: 0 auto;
  color: #4A4A4A;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}

.choose-type p {
  font-weight: 600;
  line-height: 19px;
  display: inline-block;
  margin-right: 25px;
}

.choose-type div {
  width: 150px;
  height: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-right: 20px;
  cursor:pointer;
  position: relative;
  text-transform: capitalize;
}

.choose-type div i.fa {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
}

.choose-type div:hover, .choose-type div.active {
  color: #fff;
  background-color: #68AA3B;
  font-size: 13px;
  font-weight: bold;
}

.payment-container {
  width:100%;

}
.payment-container.delimiter {
  border-top: 1px solid #CDCDCD;
}

.payment-form {
  width: 90%;
  margin: 5px auto;
  padding-top: 16px;
  font-size: 0px;
  display: none;
}

.payment-form.active {
  display: block;
}

.payment-form p {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.payment-form span {
  color: #F58A1C;
  font-size: 12px;
  left: 230px;
  position: relative;
}

.payment-form div {
  font-size: 16px;
  color: #4A4A4A;
}
.payment-form div label {
  display: inline-block;
  margin-bottom: 10px;
}

.payment-form div span {
  color: #F58A1C;
  left: 0;
}

.payment-form .brand-container {
  display: inline-block;
  text-align: justify;
  top: 25px;
  width: calc((100% - 23px)/2);
  height: 45px;
  vertical-align: middle;
}

.payment-form .brand-container:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.payment-form .brand {
  display: inline-block;
}

.payment-form .brand .pf {
  width: 40px;
  height: 24px;
  display: block;
  border-radius: 5px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.payment-form .brand .pf.active {
  -webkit-filter: none;
  filter: none;
}

.payment-form div .input {
  font-family: "Open Sans";
  font-size: 16px;
}

.payment-form div .input.focused {
  background-color: #F0F9FF;
  outline: 0;
}

.payment-form div .input.invalid {
  border-color: #eb1c26;
  outline: 0;
}

.payment-form div input::placeholder {
  color: #818181;
}

.payment-form div input:focus {
  background-color: #F0F9FF;
  outline: 0;
}

.payment-form div .big-width {
  width: 250px;
  margin-top: 20px;
  display: inline-flex;

}

.payment-form div .big-width .input {
  width:240px;
}
.payment-form .small-width {
  margin-top: 20px;
  margin-right: 44px;
  display: inline-flex;
  width: 153px;
}

.payment-form .small-width.stripe, .payment-form .stripe{
  border: 1px solid #cdcdcd;
}

.payment-form div .small-width:last-child {
  margin-right: 0px;
}

.payment-form .small-width input, .payment-form .small-width .input{
  width: 143px;
  display: block;
}

.payment-form .half-width {
  display: inline-block;
  margin-top: 20px;
}

.payment-form div .half-width:last-child {
  margin-left: 63px;
}
.payment-form .half-width input {
  width: 250px;
  display: block;
}
.payment-form  ._generic-input-wrapper ._generic-input.payment-error {
	color: #ED5564;
}
.payment-form .stripe-error {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  width: 100%;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.payment-form .stripe-error.visible {
  opacity: 1;
  transform: none;
}

.payment-form .stripe-error.invisible {
  display: none;
}
.payment-form .stripe-error .message {
  font-size: inherit;
}

.payment-form .stripe-error svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: -1px;
  margin-right: 10px;
}

.payment-form .stripe-error svg {
  margin-top: 0 !important;
}

.payment-form .stripe-error svg .base {
  fill: #e25950;
}

.payment-form .stripe-error svg .glyph {
  fill: #fff;
}

.payment-form .stripe-error .message {
  color: #e25950;
}

.payment-form .stripe .input {
  border: 0;
}
.payment-form .stripe .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
  cursor: text;
}

.payment-form .stripe .input.focused ,
.payment-form .stripe .input.invalid,
.payment-form .stripe .input.StripeElement--complete {
  opacity: 1;
}

.payment-form .stripe .input.focused::-webkit-input-placeholder,
.payment-form .stripe .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.payment-form .stripe .input.focused::-moz-placeholder,
.payment-form .stripe .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.payment-form .stripe .input.focused:-ms-input-placeholder,
.payment-form .stripe .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.payment-form .stripe .input.focused + label,
.payment-form .stripe .input.invalid + label,
.payment-form .stripe .input.StripeElement--complete + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px) translateX(-10px);
  cursor: default;
}

.payment-form .stripe .input.focused + label,
.payment-form .stripe .input.StripeElement--complete + label {
  font-size: 10px;
  color: #4a4a4a;
}

.payment-form .stripe .input.invalid + label {
  color: #ffa27b;
  font-size: 10px;
}


.payment-form .payment-instructions-wrapper {
  display: block;
  font-weight: 600;
  color: #4a4a4a;
}

.payment-form .payment-instructions-wrapper .text {
  font-size: 14px;
  margin-bottom: 12px;
}

.payment-form .payment-instructions-wrapper .required-note {
  font-size: 12px;
  font-weight: 400;
  color: #F58A1C;
}

.payment-form .stripe._generic-input-wrapper {
  box-sizing: border-box;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 12px;
  width: calc((100% - 12px)/2)
}
.payment-form .stripe._generic-input-wrapper ._generic-input {
  border: none;
  height: 43px;
}


.payment-form .stripe._generic-input-wrapper:nth-child(2n+1) {
  margin-right: 12px;
}

.payment-form .stripe._generic-input-wrapper.full-width {
  width: 100%;
}

.payment-form ._generic-input-wrapper .input {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 0 6px 10px;
}

.payment-form .stripe._generic-input-wrapper ._generic-input.ng-dirty + label {
  top: 2px;
}


.payment-form .stripe._generic-input-wrapper ._generic-input.ng-not-empty + label {
	top: 2px;
}

.payment-form .stripe._generic-input-wrapper ._generic-input.ng-dirty + label {
	top: 2px;
}

.payment-form .stripe._generic-input-wrapper ._generic-input.ng-empty + label {
	left: 12px;
	top: 50%;
}

.payment-form .stripe._generic-input-wrapper ._generic-input:focus + label {
	top: 2px;
}

.sessions-details-popup-wrapper .content.file {
  height: 98%;
}

.third-party-consent a {
  color: #26A7DE;
  cursor: pointer;
}

@media (max-width: 880px) {
  .payment-form .brand-container {
    top:0;
    width: 100%;
    height: 36px;
  }

  .payment-form .stripe._generic-input-wrapper {
    width: 100%;
  }

  .payment-form .payment-instructions-wrapper .text {
    font-size: 15px;
    margin-bottom: 12px;
  }

  .payment-form .payment-instructions-wrapper {
    margin-bottom: 0px;
  }

  .payment-form .payment-instructions-wrapper .required-note {
    margin-bottom: 16px;
  }
}
