<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': paymentDone}">
  <div class="_header" ng-class="{'blurred': paymentInProgress || $root.blurForm}">
     <div class="_header-back-button" ng-click="navigateBack()" ng-if="routesLength > 1"></div>
     <div class="inner">
       <div class="title small-text">Enter Payment Information</div>
       <div class="next-shortcut active mobile-next" ng-click="payCart('top')">
         <label ng-if="selectedPayment == 'credit_card'">Pay <p>{{totalToPay | currency:"$":2}}</p></label>
         <label ng-if="selectedPayment == 'check'">Send Invoice</label>
         <div class="error-prompt" ng-class="{'visible': errorMessageTop}">
  				 <i class="fas fa-exclamation-triangle"></i>
  				 <div class="text">
  					 {{errorMessageTop}}
  				 </div>
  				 <i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'top')"></i>
  			 </div>
       </div>
     </div>
   </div>
   <div class="_body-wrapper">
     <div class="_body payment" ng-class="{'blurred': paymentInProgress || $root.blurForm}">
       <div class="choose-type" ng-if="payments.length > 1">
         <p>Select a payment method:</p>
         <div ng-repeat="payment in payments" ng-class="{'active':payment.selected}" ng-click="changePaymentType(payment)"><i class="fa fa-check" ng-if="payment.selected"></i>{{payment.label}}</div>
       </div>
       <div class="payment-container" ng-class="{'delimiter': payments.length > 1}">
         <div class="payment-form" ng-class="{'active':selectedPayment == 'credit_card'}">
           <div class="payment-instructions-wrapper">
             <div class="text">Please enter your payment information:</div>
             <div class="required-note">*Required</div>
           </div>
           <div>
             <div class="stripe _generic-input-wrapper">
             	 <div id="card-number" class="input empty"></div>
             	 <label for="card-number" class="_generic-input-label">Credit Card Number<span>*</span></label>
             </div>
             <div class="brand-container">
               <span class="brand"><i class="pf pf-visa"><img src="/app/_assets/images/svg_cards_types/Visa.svg"></i></span>
               <span class="brand"><i class="pf pf-mastercard"><img src="/app/_assets/images/svg_cards_types/MC.svg" height="24px" width="40px"></i></span>
               <span class="brand"><i class="pf pf-discover"><img src="/app/_assets/images/svg_cards_types/Discover.svg"></i></span>
               <span class="brand"><i class="pf pf-american-express"><img src="/app/_assets/images/svg_cards_types/AMEX.svg"></i></span>
               <span class="brand"><i class="pf pf-jcb"><img src="/app/_assets/images/svg_cards_types/JCB.svg"></i></span>
               <span class="brand"><i class="pf pf-diners"><img src="/app/_assets/images/svg_cards_types/Diners.svg"></i></span>
             </div>
           </div>
           <div class="stripe _generic-input-wrapper">
           	 <div id="card-expiry" class="input empty"></div>
           	 <label for="card-expiry" class="_generic-input-label">Expiration Date<span>*</span></label>
           </div>
           <div class="stripe _generic-input-wrapper">
           	 <div id="card-cvc" class="input empty"></div>
           	 <label for="card-cvc" class="_generic-input-label">CVV Number<span>*</span></label>
           </div>
           <div class="stripe _generic-input-wrapper" >
             <input type="text" class="_generic-input" id="{{additionalPaymentFields[0].code}}" ng-model="additionalPaymentFields[0].value" ng-model-options='{ debounce: 700 }' ng-class="{'payment-error': additionalPaymentFields[0].error}" ng-change=checkIfNeedsValidation(additionalPaymentFields[0]) ></input>
             <label for="{{additionalPaymentFields[0].code}}" class="_generic-input-label"><span ng-if="additionalPaymentFields[0].error" style="color: inherit; font-size: inherit;">Please enter a valid </span> {{additionalPaymentFields[0].name}} <span>*</span></label>
           </div>
           <div class="stripe _generic-input-wrapper">
             <input type="text" class="_generic-input" id="{{additionalPaymentFields[1].code}}" ng-model="additionalPaymentFields[1].value" ng-model-options='{ debounce: 700 }' ng-class="{'payment-error': additionalPaymentFields[1].error}" ng-change=checkIfNeedsValidation(additionalPaymentFields[1])></input>
             <label for="{{additionalPaymentFields[1].code}}" class="_generic-input-label"><span ng-if="additionalPaymentFields[1].error" style="color: inherit; font-size: inherit;">Please enter a valid </span> {{additionalPaymentFields[1].name}} <span>*</span></label>
           </div>
           <div class=" stripe _generic-input-wrapper full-width">
             <fuzzy-email field="additionalPaymentFields[2]" check-function="checkIfNeedsValidation(additionalPaymentFields[2])" model-options='{ debounce: 700 }'></fuzzy-email>
           </div>
           <div class="third-party-consent">
             <div class="checkbox" ng-class="{'selected': acceptedTerms}" ng-click="acceptTerms()" >
     					<i class="fas fa-check"></i>
     				</div>
            <div class="consent-text">I agree to the <a ng-click="openModal($event, registration.terms_of_service)">Terms and Conditions</a> and <a ng-click="openModal($event, registration.refund_policy)">Refund Policy</a>, and I authorize payment to be billed to my credit card.</div>
          </div>
           <div class="error stripe-error" role="alert" ng-class="{'invisible':cardError != null}">
             <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
              </svg>
              <span class="message"></span>
            </div>
            <div class="stripe-error" ng-class="{'visible':cardError != null, 'invisible':cardError == null}" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
              </svg>
              <span class="message">{{cardError}}</span>
             </div>
         </div>
         <div class="payment-form" ng-class="{'active':selectedPayment == 'check'}">
           <div class="payment-instructions-wrapper">
             <div class="text">Please enter your payment information:</div>
             <div class="required-note">*Required</div>
           </div>
           <div class=" stripe _generic-input-wrapper full-width">
             <fuzzy-email field="checkPaymentFields[0]" check-function="checkIfNeedsValidation(checkPaymentFields[0])" model-options='{ debounce: 700 }'></fuzzy-email>
           </div>
           <div class="third-party-consent">
             <div class="checkbox" ng-class="{'selected': acceptedTerms}" ng-click="acceptTerms()" >
     					<i class="fas fa-check"></i>
     				</div>
            <div class="consent-text">I agree to the <a ng-click="openModal($event, registration.terms_of_service)">Terms and Conditions</a> and <a ng-click="openModal($event, registration.refund_policy)">Refund Policy</a>.</div>
          </div>
         </div>
       </div>
     </div>
     <div class="_footer" ng-class="{'blurred': paymentInProgress || $root.blurForm}">
       <div class="_empty-space attendee"></div>
       <div class="_previous-button" ng-click="navigateBack()" ng-if="routesLength > 1">previous</div>
       <div class="_next-button" ng-click="payCart('bottom')">
         <label ng-if="selectedPayment == 'credit_card'">pay {{totalToPay | currency:"$":2}}</label>
         <label ng-if="selectedPayment == 'check'">Send Invoice</label>
         <div class="error-prompt" ng-class="{'visible': errorMessageBottom}" ng-click="handleMissClick($event)">
 					<i class="fas fa-exclamation-triangle"></i>
 					<div class="text">
 						{{errorMessageBottom}}
 					</div>
 					<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'bottom')"></i>
 				</div>
       </div>
     </div>
     <div class="sessions-details-popup-wrapper" ng-class="{'visible': openedModal != null}">
       <div class="close-button" ng-click="closeModal($event)">
         <div class="line left"></div>
         <div class="line right"></div>
       </div>
       <div class="content file">
         <div class="description"><pre style="white-space: pre-wrap; height: 97%;">{{fileContent}}</pre></div>
       </div>
     </div>
   </div>
</div>
