._header .inner .cart-icon {
	position: absolute;
	top: 50%;
	right: 94px;
	cursor: pointer;
	transform: scale(1) translateY(-50%);
	transition: transform .2s ease;
	transform-origin: center;
}

._header .inner .cart-icon:hover {
	transform: scale(1.1) translateY(-50%);
}

._header .inner .cart-icon .fas {
	font-size: 14px;
	height: 32px;
	width: 32px;
	border-radius: 100%;
	border: 1px solid #AAB1B8;
	color: #26A7DE;
	line-height: 32px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}

._header .inner .cart-icon .registrants-count {
	position: absolute;
  bottom: 10px;
  right: -6px;
  font-size: 12px;
  color: #26A7DE;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 100%;
  background-color: white;
  color: #4a4a4a;
  border-color: #26A7DE;
}

._header .inner .cart-icon .fas.full {
	background-color: #26A7DE;
	border: 1px solid #26A7DE;
	color: white;
}

@media (max-width: 880px) {
	._header .inner .cart-icon {
		right: 50px;
	}
	._header .inner .cart-icon .fas {
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 10px;
	}

	._header .inner .cart-icon .registrants-count {
		bottom: 5px;
    right: -10px;
		font-size: 10px;
		line-height: 14px;
		width: 14px;
    height: 14px;
	}
}
