<div>
<input minlength="2" maxlength="255" type="text" class="_generic-input" id="{{field.key || field.code}}" ng-model="field.value" ng-blur="checkFunction({ev: $event, field: field})" ng-class="{'error': field.error}" placeholder=""  ng-change="fuzzMe()" ng-if="!modelOptions"></input>
<input minlength="2" maxlength="255" type="text" class="_generic-input" id="{{field.key || field.code}}" ng-model="field.value" ng-blur="checkFunction({ev: $event, field: field})" ng-class="{'error': field.error}" placeholder=""  ng-change="fuzzMe()" ng-model-options='modelOptions' ng-if="modelOptions"></input>
<label for="{{field.key || field.code}}" class="_generic-input-label" ng-if="!altEmail"><span ng-if="field.error" style="color: inherit; font-size: inherit;">Please enter a valid </span> {{field.name}} <span ng-if="field.visibility === 'required'">*</span></label>
<label for="{{field.key || field.code}}" class="_generic-input-label alt-email" ng-if="altEmail">Oops, double check your email you may have misspelled it.</label>
</div>
