<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css" > -->
<div class="_form-wrapper" ng-click="closeAllTheDropdowns($event)">
	<div class="_error-wrapper" ng-class="{'visible': $root.errorMessage}">
		<i class="fas fa-exclamation-triangle"></i>
		<span class="error-message"> {{ $root.errorMessage }} </span>
	</div>
	<div ui-view="form" class="form"></div>
	<!-- <div class="_branding" ng-class="{'blurred': $root.blurForm}">
		<div class="text">Powered by</div>
		<a href="https://www.expopass.com" target="_blank">
			<img src="/app/_assets/images/expo_logo.svg"></img>
		</a>
	</div> -->
	<div class="loader" ng-class="{'visible': $root.showLoader}"></div>
	<div class="loading-message" ng-if="$root.loaderUserMessage">{{$root.loaderUserMessage}}</div>
</div>
