<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': registrantInformationSaved}">
	<div class="_header blue-background" ng-class="{'blurred': !finishedLoadingData}">
		<div class="inner">
		<div class="title">Your registration is complete.</div>
		</div>
	</div>
	<div class="_body-wrapper">
		<div class="_body finish-registration">
			<div class="finish-registration-wrapper">
				<div class="finish-registration-title">You're all set!</div>
				<div class="finish-registration-description" ng-if="paymentType == 'credit_card'">Download a PDF of your receipt by clicking below.</div>
				<div class="finish-registration-description" ng-if="paymentType == 'check'">Download a PDF of your invoice by clicking below.</div>
				<div class="_previous-button receipt" ng-click="downloadReceipt()" ng-if="paymentType == 'credit_card'">Download receipt</div>
				<div class="_previous-button receipt" ng-click="downloadReceipt()" ng-if="paymentType == 'check'">Download invoice</div>
			</div>
		</div>
		<div class="_footer">
			<div class="_empty-space confirm"></div>
			<div class="_next-button confirm active big-button" ng-click="finishRegistration()">DONE</div>
		</div>
	</div>
</div>
