._body.finish-registration {
	text-align: center;
	height: calc(100% - 78px - 124px);
}

._body.finish-registration::before {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

._body.finish-registration .finish-registration-wrapper {
	display: inline-block;
	vertical-align: middle;
}

._body .finish-registration-title {
	font-size: 24px;
	color: #4a4a4a;
	font-weight: 800;
	margin-bottom: 22px;
}

._body .finish-registration-description {
	font-size: 16px;
	color: #4a4a4a;
	font-weight: 600;
	margin-bottom: 31px;
}

@media (max-width: 880px) {
	._previous-button.receipt {
		width: 98%;
	}

	._body.finish-registration {
		margin-bottom: 20px;
	}
}
