<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': savedEducations}">
	<div class="_header" ng-class="{'blurred': $root.blurForm}">
		<div class="_header-back-button" ng-click="previousStepEducation()"></div>
		<div class="inner">
			<div class="title">Choose Your Continuing Education</div>
			<div class="next-shortcut active" ng-click="saveEducationsList()">
        Next
      </div>
		</div>
	</div>
	<div class="_body-wrapper">
		<div class="_body educations-wrapper" ng-class="{'blurred': $root.blurForm}">
			<div class="education-wrapper" ng-repeat="education in educations">
				<div class="checkbox" ng-click="selectEducation($event, education)" ng-class="{'active': education.selected}">
					<i class="fas fa-check"></i>
				</div>
				<div class="title">
					{{education.name}}
				</div>
			</div>
		</div>

		<div class="_footer" ng-class="{'blurred': $root.blurForm}">
			<div class="_empty-space attendee"></div>
			<div class="_previous-button" ng-click="previousStepEducation()">previous</div>
			<div class="_next-button active" ng-click="saveEducationsList()">next</div>
		</div>
	</div>
</div>
