._body.educations-wrapper {
	width: 100%;
	padding: 0;
	height: calc(100% - 98px - 78px);
}

 .education-wrapper {
	height: 60px;
	border-bottom: 1px solid #cdcdcd;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	cursor: pointer;
}

 .education-wrapper::before {
	content: '';
	width: 0px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
}

.education-wrapper:hover {
		background-color: #F0F9FF;
}

 .education-wrapper .checkbox {
	width: 25px;
	height: 25px;

	border: 1px solid #cdcdcd;
	border-radius: 100%;

	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	background-color: transparent;
	transition: background-color .2s ease;
	box-sizing: border-box;
}

 .education-wrapper .checkbox .fas {
	font-size: 14px;
	color: white;
	line-height: 23px;
	transform: scale(0) ;
	transition: transform .2s ease;
}

 .education-wrapper .checkbox:hover {
	background-color: #15A748;
}

 .education-wrapper .checkbox:hover .fas {
	transform: scale(1);
}

 .education-wrapper .checkbox.active {
	background-color: #15A748;
}

 .education-wrapper .checkbox.active .fas {
	transform: scale(1);
}

 .education-wrapper .title {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	font-weight: 600;
	color: #4A4A4A;

	padding-left: 10px;
	box-sizing: border-box;

	width: calc(100% - 25px - 140px - 70px);
}

 .education-wrapper .times {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #4a4a4a;

	width: 140px;
	text-align: right;
}

 .education-wrapper .price {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #4a4a4a;

	width: 70px;
	text-align: right;
}
