<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': registrantInformationSaved}">
  <div class="_header">
    <div class="_header-back-button" ng-click="navigateBack()"></div>
    <div class="inner">
      <div class="title small-text">Select Registration</div>
      <cart-shortcut></cart-shortcut>
      <div class="next-shortcut active" ng-click="saveRegistrantLevel(selectedLevel, 'top')">
        Next
        <div class="error-prompt" ng-class="{'visible': errorMessageTop}">
  				<i class="fas fa-exclamation-triangle"></i>
  				<div class="text">
  					{{errorMessageTop}}
  				</div>
  				<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'top')"></i>
  			</div>
      </div>
    </div>
  </div>
  <div class="_body-wrapper">
    <div class="_body levels">
      <div class="level" ng-if="levelsList.length > 0" ng-repeat="level in levelsList" ng-class="{'with-background': level.is_recommended, 'open': level.open}">
        <div class="description" ng-click="showMoreText(level)">
          <i class="fas fa-caret-right" ng-class="{'point-down': level.open}"></i>
          <div class="title">{{level.name}} - {{level.price | currency:"$":2}}
            <div class="recommended" ng-if="level.is_recommended">({{level.recommendation_reason || "Recommended"}})</div>
          </div>
          <div class="text-content" ng-class="{'more-text':level.open && (level.description.length > 191 ||  level.benefits.length > 0)}">
          <p ng-class="{'block-with-text':!level.open && (level.description.length > 191 ||  level.benefits.length > 0)}" ng-if="level.description.length > 0">{{level.description}}</p>
          <ul ng-if="level.benefits.length > 0">
            <li ng-repeat="benefit in level.benefits">{{benefit}}</li>
          </ul>
        </div>
          <!-- <div class="text-content" ng-class="{'less-text':!level.open && level.description.length > 140,'less-text-char':!level.open && level.description.length <=140}">
            <p>{{level.description}}</p>
            <ul>
              <li ng-repeat="benefit in level.benefits">{{benefit}}</li>
            </ul>
          </div> -->
          <a class="show-more-link" ng-click="showMoreText(level)" ng-if="!level.open && (level.description.length > 191 ||  level.benefits.length > 0)"> More</a>
        </div>
        <div class="_generic-button spaced-left" ng-click="changeLevelSelection(level)" ng-class="level==selectedLevel ? 'selected': ''">
          <i class="fas fa-check"></i>{{level==selectedLevel ? 'selected' : 'select'}}
        </div>
      </div>
      <div class="no-level" ng-if="levelsList.length == 0">
        <div class="warning-wrapper">
          <i class="fas fa-exclamation-triangle"></i>
          <p>There are no available levels to register at this time.</p>
          <p>Please contact your event organizer for details.</p>
        </div>
      </div>
    </div>
    <div class="_footer">
      <div class="_empty-space attendee"></div>
      <div class="_previous-button" ng-if="shouldShowThePreviousButton" ng-click="navigateBack()" ng-class="{'disabled': previousButtonDisabled}">previous</div>
      <div class="_next-button" ng-click="saveRegistrantLevel(selectedLevel, 'bottom')">
        next
        <div class="error-prompt" ng-class="{'visible': errorMessageBottom}">
					<i class="fas fa-exclamation-triangle"></i>
					<div class="text">
						{{errorMessageBottom}}
					</div>
					<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'bottom')"></i>
				</div>
      </div>
    </div>
  </div>

</div>
