._body.levels {
  width:100%;
  margin:0;
  padding:0;
  overflow: hidden;
}

.level {
  padding:20px 40px;
  border-bottom: 1px solid #CDCDCD;
}

.level.with-background {
  background-color: #F0F9FF;
}

.levels .level:last-child {
  border-bottom: 0px;
}

.level:hover {
  background:#F0F9FF;
}

.level .description {
  width: calc(100% - 20px - 20px - 129px);
  display: inline-block;
  vertical-align: middle;
  color:#4A4A4A;
}

.level .description .title,.level .description p,.level .description ul {
  font-size:12px;
  margin: 0;
  line-height: 17px;
  font-weight: normal;
}

.level .description .title {
  font-weight: bold;
  font-size: 14px;
}

.level .description .title .recommended {
  font-style: italic;
  font-weight: normal;
  display: inline-block;
}

.level .description .text-content.more-text ul {
  display: block;
  transition: all 2s linear;
  opacity: 1;
}

.level .description .text-content ul {
  margin-top: 10px;
  display:none;
  opacity: 0;
}

.level .description .text-content.more-text {
  height: auto;

}

.level .description .text-content.more-text .block-with-text {
  overflow: unset;
  height: auto;
}

.level .description .text-content.more-text .block-with-text:before {
  content: '';
}

.level .description .text-content.more-text .block-with-text:after {
  content: '';
  background: none;
}

.level:hover .block-with-text:after {
  background-color: #F0F9FF;
}

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 34px;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  width: 90%;
  display: inline-block;
}

.block-with-text:before {

  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.with-background .block-with-text:after {
  background-color: #F0F9FF;
}

.level .description .text-content {
  width: 92%;
  display: inline-block;
  color:#7d7d7d;
  height: 34px;
  overflow: hidden;
}
//
// .level .description .text-content.less-text {
//   overflow: hidden;
//   position: relative;
//   max-height: 35px;
// }
//
// .level .description .text-content.less-text:before {
//   content: '...';
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   font-size: 12px;
// }
//
// .level .description .text-content.less-text-char {
//   overflow: hidden;
//   position: relative;
//   max-height: 17px;
// }

.level .description .show-more-link {
  font-size: 12px;
  color: #26A7DE;
  cursor: pointer;
  vertical-align: bottom;
  margin-left: 5px ;
}

.level .description .show-more {
  height:auto;
}

.no-level {
  padding:40px;
}

.no-level .warning-wrapper {
    margin: 40px auto;
}

.no-level .warning-wrapper .fas {
    font-size: 48px;
    color: #4A4A4A;
    text-align: center;
    box-sizing: border-box;
    display: block;
    height: 48px;
    margin-bottom: 60px;
}
.no-level .warning-wrapper p {
  font-size: 14px;
  font-weight: 600;
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #4A4A4A;
  line-height: 24px;
}

 ._generic-button.spaced-left {
  display: inline-block;
  margin-left: 79px;
  vertical-align: top;
}

@media (max-width: 880px) {
  .level {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #EDF0F2;
    height: 57px;
    box-sizing: border-box;
    position: relative;
    overflow:hidden;
  }

  .level:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 57px;
  }

  .level.with-background {
    background-color: #EDF0F2;
  }

  .with-background .block-with-text:after {
    background-color: #EDF0F2;
  }

  .level.open {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }

  ._generic-button.spaced-left {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-top: 0;
    margin-left: 0;
    height: 34px;
    line-height: 34px;
  }
  ._generic-button:hover {
    color: #4a4a4a;
  	background-color: white;
  }
  ._generic-button.selected:hover {
    background-color: #68AA3B;
  	color: white;
  	border: 1px solid #68AA3B;
  }

  .level .description {
    width: calc(100% - 14px - 90px)
  }

  .level .description .title {
    width: calc(100% - 40px);
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
  }

  .level .description .text-content {
    width: 100%;
    margin-top: 14px;
    color: #4a4a4a;
    display:none;
  }

  .level .description .text-content.more-text {
    display: block;
  }

  .level .description .text-content .block-with-text {
    max-height: 20px;
  }

  .level .description .show-more-link {
    display: none;
  }

  .level .description .fas {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 20px;

    transition: transform .2s ease;
  }

  .level .description .fas.point-down {
    transform: rotate(90deg)
  }

  .level .description .title, .level .description p, .level .description ul {
    font-size: 14px;
    line-height: 20px;
  }
}
