._header.blue-background {
  	background-color: #26A7DE;
}

._header.blue-background .title {
  color:#fff;
  margin: 0;
}

._body.confirmation {
	overflow: hidden;
  padding-top: 44px;
  width: 100%;
}

._body.confirmation .container {
  width: 80%;
  margin:0 auto;
}

.confirmation .envelope-logo {
  height: 96px;
  width: 96px;
  background-color: #68AA3B;
  border-radius: 50%;
  margin: 0 auto 10px auto;

}

.confirmation .envelope-logo .far {
  color: #FFFFFF;
  font-size: 60px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.confirmation p {
    margin: 10px 0 0 0;
    padding: 0;
    color: #4A4A4A;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
}

.confirmation a {
    color: #26A7DE;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    padding-top:10px;
    padding-bottom: 25px;
}

.confirmation .emails {
   margin-top: 25px;
   text-align: center;
}

.confirmation .emails ._generic-button.email {
  width: 270px;
  height: 40px;
  text-transform: lowercase;
  font-size: 14px;
  padding: 5px 10px 0 10px;
  display: inline-block;
	margin-bottom: 16px;
}

.confirmation .emails ._generic-button.email:last-child {
  margin-right: 0px;
}


.confirmation .emails ._generic-button.email:hover, .confirmation .emails ._generic-button.email.active {
	background-color: #F0F9FF;
  color: #4a4a4a;
}

.confirmation .emails ._generic-button.email i {
	font-size:20px;
  height: 28px;
  width: 40px;
  color: #26A7DE;
  vertical-align: super;
}

.confirmation .emails ._generic-button.email div {
  width: calc(100% - 10px - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.confirmation .emails ._generic-button.email div.big-space {
    margin-left: 40px;
}

.confirmation .emails ._generic-button.email:nth-child(2n+1) {
	margin-right: calc(100% - 270px - 270px);
}

.confirmation .emails ._generic-button.email:last-child {
  margin-right: 0px;
}

.confirmation .emails ._generic-input-wrapper {
  width: 100%;
}

.confirmation .emails ._generic-input-wrapper ._generic-input {
  height: 38px;
  padding-top: 0;
}

.confirmation .emails ._generic-input-wrapper ._generic-input::placeholder {
  color: #9B9B9B;
  font-family: "Open Sans";
  font-size: 14px;
}

.confirmation .emails span {
  margin: 10px 0 0 0;
  padding: 0;
  color: #4A4A4A;
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 14px;
  display: inline-block;
}

.confirmation .confirm-button {
  margin: 30px auto 10px auto;
  display: block;
  width: 170px;
}

.confirmation ._previous-button {
  margin-top: 25px;
}


@media (max-width: 880px) {
  .confirmation .emails {
    text-align: center;
  }
  .confirmation .emails ._generic-button.email:nth-child(2n+1) {
    margin-right: 0;
  }

  .confirmation .emails ._generic-button.email {
    width: 100%;
  }
}
