<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': emailsAreSent}">
	<div class="_header confirmation blue-background" ng-class="{'blurred': sendingEmails}">
		<div class="inner">
		<div class="title">Your registration is complete.</div>
		</div>
	</div>
	<div class="_body-wrapper">
		<div class="_body confirmation" ng-class="{'blurred': sendingEmails}">
			<div class="container">
			  <div class="envelope-logo"><i class="far fa-envelope"></i></div>
			  <p>Please choose the attendees you would like a confirmation message emailed to. </p>
			  <p><a ng-click="selectAll(true)">Select all</a>  |  <a ng-click="selectAll(false)">Deselect all</a></p>
			  <div class="emails">
			    <div class="_generic-button email" ng-repeat="registrant in registrantEmails" ng-click="selectAttendee(registrant)" ng-class="{'active':registrant.selected}">
			      <i class="fas fa-check" ng-if="registrant.selected"></i><div ng-class="{'big-space':!registrant.selected}">{{registrant.email}}</div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="_footer" ng-class="{'blurred': sendingEmails}">
			<div class="_empty-space attendee" ng-class="{'small': shouldShowThePreviousButton, 'big': !shouldShowThePreviousButton}"></div>
			<div class="_previous-button" ng-if="shouldShowThePreviousButton">previous</div>
			<div class="_next-button active big-button" ng-click="sendEmails(registrantEmails)">next</div>
		</div>
	</div>

</div>
