.payment-container .hpp-overview {
  width: 100%;
  height: 100%;
  min-height: 742px;
  border: 0;
  background: white;
  outline: none !important;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
