<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': paymentDone}">
  <div class="_header" ng-class="{'blurred': paymentInProgress}">
    <div class="_header-back-button"></div>
    <div class="inner">
      <div class="title small-text">Enter Payment Information</div>
    </div>
  </div>
  <div class="_body payment" ng-class="{'blurred': paymentInProgress}">
    <!-- <div class="choose-type">
     <p>Select a payment method:</p>
     <div ng-class="{'active':paymentMethod.cc}">Credit Card</div>
     <div>Check</div>
   </div> -->
    <div class="payment-container">
        <iframe id="hppframe" ng-src="{{ consumerUrl }}" class="hpp-overview" ng-onload="handleFrameLoaded(contentLocation)"></iframe>
    </div>
  </div>

  <!-- <div class="_footer" ng-class="{'blurred': paymentInProgress}">
    <div class="_cancel">cancel</div>
    <div class="_empty-space attendee"></div>
    <div class="_previous-button">previous</div>{{canPay}}
    <div class="_next-button active" ng-class="{'active': canPay, 'disabled': !canPay}" ng-click="payCart()">pay ${{totalToPay}}</div>
  </div> -->

</div>
