<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" >

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div class="_form-wrapper">
	<div ui-view="form" class="form"></div>
	<div class="loader" ng-class="{'visible': $root.showLoader}"></div>
</div>
