.animatable-wrapper {
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
	overflow: hidden;
}

.animatable-wrapper.inverse-animation {
	transform: translateX(100%);
}

.animatable-wrapper.inverse-animation.invisible {
	transform: translateX(-100%);
}

.animatable-wrapper.visible {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

._body-wrapper .required-note-info {
  font-size: 12px;
  font-weight: 400;
  color: #F58A1C;
  float: left;
	position: relative;
  left: 5%;
  top: 15px;
}

._body-wrapper .required-note-info.blurred {
	filter: blur(20px)
}

._body.attendee-info {
	overflow: hidden;
	width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px auto;
  padding-top: 26px;
  box-sizing: border-box;
}

._generic-input-wrapper.attendee-info {
	display: inline-block;
	margin-bottom: 16px;
}

._generic-input-wrapper.attendee-info ._generic-choice-selector{
	margin-bottom: 0;
}

._generic-choice-selector.attendee-info {
	margin-bottom: 16px;
}

._generic-input-wrapper.attendee-info:nth-child(2n+1) {
	margin-right: calc(100% - 380px - 380px);
}

._generic-choice-selector.attendee-info:nth-child(2n+1) {
	margin-left: calc(100% - 380px - 380px);
}

._generic-input-wrapper.attendee-info.full-width {
	width: 100%;
	margin-right: 0px;
}

.bellow-street{
	 margin-left: 0 !important;
	 margin-right: calc(100% - 380px - 380px) !important ;
}

.bellow-street:nth-child(2n) {
	margin-right: 0 !important;
	margin-left:0 !important;
}

._empty-space.attendee.big {
	width: calc(100%  - 148px - 20px)
}

._empty-space.attendee.small {
	width: calc(100%  - 148px - 148px - 20px)
}

._body .third-party-consent {
	font-size: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

._body .third-party-consent input {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border: 1px solid #cdcdcd;
	border-radius: 0px;
	margin: 0px;
}

._body .third-party-consent input:focus {
	outline: none;
}

._body .third-party-consent .consent-text {
	font-size: 12px;
	color: #4a4a4a;
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 30px);
	line-height: 18px;
	cursor: pointer;
}

._body .third-party-consent .checkbox {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #979797;
	box-sizing: border-box;
	text-align: center;
	line-height: 16px;
	margin-right:10px;
	cursor: pointer;
}

._body .third-party-consent .checkbox .fas {
	font-size: 12px;
	color: white;
	line-height: 16px;
}

._body .third-party-consent .checkbox.selected {
	background-color: #219DD9;
	border: 1px solid #219DD9;
}

@media (max-width: 880px) {
	._generic-input-wrapper ._generic-input {
		font-size: 16px;
	}
	._body-wrapper .required-note-info {
		width: 100%;
		position: relative;
		top: 15px;
		left: 0px;
    float: none;
    text-align: left;
    padding-left: 5%;
	}

	.animatable-wrapper.blurred {
		height: 100vh;
	}
	._generic-input-wrapper.attendee-info {
		display: block;
		height: 45px;
	}

	._generic-input-wrapper.attendee-info:nth-child(2n+1) {
		margin-right: 0;
		margin-left: 0;
	}

	._generic-choice-selector {
		width: 100%;
		margin-bottom: 16px;
	}

	._generic-choice-selector.attendee-info:nth-child(2n+1) {
		margin-right: 0;
		margin-left: 0;
	}

	._generic-input-wrapper.attendee-info.full-width ~ ._generic-input-wrapper.attendee-info:nth-child(2n+1) {
		margin-right: 0px;
		margin-left: 0px;
	}

	.bellow-street {
    margin-left: 0 !important;
    margin-right: 0 !important;
	}

	._next-button.big-button {
		width: 80%;
    margin-left: 0;
	}
}
