<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': registrantInformationSaved}" ng-init="load()">
	<div class="_header" ng-class="{'blurred': $root.blurForm}">
		<div class="_header-back-button" ng-if="shouldShowThePreviousButton"></div>
		<div class="inner">
		<div class="title">Enter Details</div>
		<cart-shortcut></cart-shortcut>
		<div class="next-shortcut active" ng-click="saveRegistrantInformation(attendeeFields, 'top')">
			Next
			<div class="error-prompt" ng-class="{'visible': errorMessageTop}">
				<i class="fas fa-exclamation-triangle"></i>
				<div class="text">
					{{errorMessageTop}}
				</div>
				<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'top')"></i>
			</div>
		</div>
		</div>
	</div>
	<div class="_body-wrapper" ng-class="{'blurred': $root.blurForm}">
		<div class="required-note-info" ng-class="{'blurred': $root.blurForm}">*Required</div>
		<div class="_body attendee-info" ng-class="{'blurred': $root.blurForm}">
			<div class="_generic-input-wrapper attendee-info" ng-repeat="field in attendeeFields" ng-class="{'full-width': field.code === 'street_address'}" ng-if="(field.code !== 'state' || (field.code === 'state' && attendeeFields[countryIndex].value === 'US')) && !field.belowStreetField" ng-hide="field.visibility === 'hidden'">
				<input minlength="2" maxlength="255" type="text" class="_generic-input" id="{{field.code}}" ng-model="field.value" ng-blur="checkIfNeedsValidation($event,field)" ng-class="{'error': field.error, 'hidden': field.code == 'state' || field.code == 'country' || field.customFieldType === 2 || field.customFieldType === 3 }" placeholder="" ng-readonly="field.code == 'state' || field.code == 'country'" ng-if="field.code!='email_address'"></input>
				<label for="{{field.code}}" class="_generic-input-label" ng-if="field.code!='email_address'"><span ng-if="field.error" style="color: inherit;">Please enter a valid </span> {{field.name}} <span ng-if="field.visibility === 'required'">*</span></label>
				<fuzzy-email field="field" ng-if="field.code=='email_address'" check-function="checkIfNeedsValidation(ev,field)"></fuzzy-email>
				<div class="_generic-choice-selector attendee-info" ng-class="{'error': field.error}" ng-if="field.code === 'state'  && !field.belowStreetField" id="{{field.code}}" ng-click="openOptionsPanel($event, field)" ng-hide="field.visibility === 'hidden'">
					<div class="value">{{field.value}}</div>
					<div class="options-wrapper" ng-class="{'open': field.openOptions}">
						<div class="option" ng-repeat="option in unitedStates" ng-click="selectState($event, field, option)">
							<div class="checkbox" ng-class="{'selected': option.selected}">
								<i class="fas fa-check"></i>
							</div>
							<div class="option-value">{{option.name}}</div>
						</div>
					</div>
				</div>
				<div class="_generic-choice-selector attendee-info" ng-class="{'error': field.error}" ng-if="field.code === 'country'  && !field.belowStreetField" id="{{field.code}}" ng-click="openOptionsPanel($event, field)" ng-hide="field.visibility === 'hidden'">
					<div class="value">{{field.value}}</div>
					<div class="options-wrapper" ng-class="{'open': field.openOptions}">
						<div class="option" ng-repeat="option in countries" ng-click="selectCountry($event, field, option)">
							<div class="checkbox" ng-class="{'selected': option.selected}">
								<i class="fas fa-check"></i>
							</div>
							<div class="option-value">{{option.name}}</div>
						</div>
					</div>
				</div>
				<div class="_generic-choice-selector attendee-info" id="{{field.code}}" ng-if="field.customFieldType === 2 && field.visibility !== 'hidden'" ng-click="openOptionsPanel($event, field)"  ng-class="{'error': field.error}">
				 <div class="value">{{field.value}}</div>
					<div class="options-wrapper" ng-class="{'open': field.openOptions}">
						<div class="option" ng-repeat="option in field.options" ng-click="toggleSelectionForCustomFieldOption($event, field, option)">
							<div class="checkbox" ng-class="{'selected': option.selected}">
								<i class="fas fa-check"></i>
							</div>
							<div class="option-value">{{option.value}}</div>
						</div>
					</div>
				</div>
				<div class="_generic-choice-selector attendee-info" id="{{field.code}}" ng-if="field.customFieldType === 3" ng-click="openOptionsPanel($event, field)" ng-class="{'error': field.error}" ng-hide="field.visibility === 'hidden'">
					<div class="value">{{field.value}}</div>
					<div class="options-wrapper" ng-class="{'open': field.openOptions}">
						<div class="option" ng-repeat="option in field.options" ng-click="toggleSelectionForCustomFieldOption($event, field, option)">
							<div class="checkbox" ng-class="{'selected': option.selected}">
								<i class="fas fa-check"></i>
							</div>
							<div class="option-value">{{option.value}}</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="_generic-input-wrapper attendee-info" ng-repeat="field in attendeeFields" ng-class="{'full-width': field.code === 'street_address','bellow-street':field.belowStreetField}" ng-if="(field.code !== 'state' || (field.code === 'state' && attendeeFields[countryIndex].value === 'US')) && field.belowStreetField" ng-hide="field.visibility === 'hidden'">
					<input minlength="2" maxlength="255" type="text" class="_generic-input" id="{{field.code}}" ng-model="field.value" ng-blur="checkIfNeedsValidation($event, field)" ng-class="{'error': field.error, 'hidden': field.code == 'state' || field.code == 'country' || field.customFieldType === 2 || field.customFieldType === 3}" placeholder="" ng-readonly="field.code == 'state' || field.code == 'country'"></input>
					<label for="{{field.code}}" class="_generic-input-label"><span ng-if="field.error" style="color: inherit;">Please enter a valid </span> {{field.name}} <span ng-if="field.visibility === 'required'">*</span></label>
					<div class="_generic-choice-selector attendee-info" ng-class="{'error': field.error}" ng-if="field.code === 'state' && field.belowStreetField" id="{{field.code}}" ng-click="openOptionsPanel($event, field)" ng-hide="field.visibility === 'hidden'">
						<div class="value">{{field.value}}</div>
						<div class="options-wrapper" ng-class="{'open': field.openOptions}">
							<div class="option" ng-repeat="option in unitedStates" ng-click="selectState($event, field, option)">
								<div class="checkbox" ng-class="{'selected': option.selected}">
									<i class="fas fa-check"></i>
								</div>
								<div class="option-value">{{option.name}}</div>
							</div>
						</div>
					</div>
					<div class="_generic-choice-selector attendee-info" ng-class="{'error': field.error}" ng-if="field.code === 'country' && field.belowStreetField" id="{{field.code}}" ng-click="openOptionsPanel($event, field)" ng-hide="field.visibility === 'hidden'">
						<div class="value">{{field.value}}</div>
						<div class="options-wrapper" ng-class="{'open': field.openOptions}">
							<div class="option" ng-repeat="option in countries" ng-click="selectCountry($event, field, option)">
								<div class="checkbox" ng-class="{'selected': option.selected}">
									<i class="fas fa-check"></i>
								</div>
								<div class="option-value">{{option.name}}</div>
							</div>
						</div>
					</div>
					<div class="_generic-choice-selector attendee-info" id="{{field.code}}" ng-if="field.customFieldType === 2 && field.visibility !== 'hidden'" ng-click="openOptionsPanel($event, field)"  ng-class="{'error': field.error}">
						<div class="value">{{field.value}}</div>
						<div class="options-wrapper" ng-class="{'open': field.openOptions}">
							<div class="option" ng-repeat="option in field.options" ng-click="toggleSelectionForCustomFieldOption($event, field, option)">
								<div class="checkbox" ng-class="{'selected': option.selected}">
									<i class="fas fa-check"></i>
								</div>
								<div class="option-value">{{option.value}}</div>
							</div>
						</div>
					</div>
					<div class="_generic-choice-selector attendee-info" id="{{field.code}}" ng-if="field.customFieldType === 3" ng-click="openOptionsPanel($event, field)" ng-class="{'error': field.error}" ng-hide="field.visibility === 'hidden'">
						<div class="value">{{field.value}}</div>
						<div class="options-wrapper" ng-class="{'open': field.openOptions}">
							<div class="option" ng-repeat="option in field.options" ng-click="toggleSelectionForCustomFieldOption($event, field, option)">
								<div class="checkbox" ng-class="{'selected': option.selected}">
									<i class="fas fa-check"></i>
								</div>
								<div class="option-value">{{option.value}}</div>
							</div>
						</div>
					</div>
				</div>
		</div>
			<div class="third-party-consent">
				<div class="checkbox" ng-class="{'selected': acceptedTerms}" ng-click="acceptTerms()" >
					<i class="fas fa-check"></i>
				</div>
				<div class="consent-text" ng-bind-html="consent" ng-click="openModal($event);"></div>
			</div>
		</div>
		<div class="_footer" ng-class="{'blurred': $root.blurForm}">
			<div class="_empty-space attendee" ng-class="{'small': shouldShowThePreviousButton, 'big': !shouldShowThePreviousButton}"></div>
			<div class="_previous-button" ng-class="{'invisible': !shouldShowThePreviousButton}">previous</div>
			<div class="_next-button big-button" ng-click="saveRegistrantInformation(attendeeFields, 'bottom')">
				next
				<div class="error-prompt" ng-class="{'visible': errorMessageBottom}">
					<i class="fas fa-exclamation-triangle"></i>
					<div class="text">
						{{errorMessageBottom}}
					</div>
					<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'bottom')"></i>
				</div>
			</div>

		</div>
	</div>

</div>
<div class="sessions-details-popup-wrapper" ng-class="{'visible': openedModal != null}">
	<div class="close-button" ng-click="closeModal($event)">
		<div class="line left"></div>
		<div class="line right"></div>
	</div>
	<div class="content file">
		<div class="description"><pre style="white-space: pre-wrap; height: 97%;">{{fileContent}}</pre></div>
	</div>
</div>
