<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': cartInformationSaved, 'blurred':modalOpened}">
	<div class="_header" ng-class="{'blurred': blurForm}">
		<!-- <div class="_header-back-button" ng-click="navigateBack()" ng-if="routesLength > 1"></div> -->
	 <div class="inner">
		 <div class="title">Cart</div>
		 <div class="new-registrant-shortcut" ng-click="goToAttendeeInfo()" ng-if="registrants.length > 0">
			 <i class="fas fa-user-plus"></i>
		 </div>
		 <div class="next-shortcut active checkout" ng-click="checkout('top')" ng-if="registrants.length > 0">
			 Checkout
			 <div class="error-prompt" ng-class="{'visible': errorMessageTop}">
				 <i class="fas fa-exclamation-triangle"></i>
				 <div class="text">
					 {{errorMessageTop}}
				 </div>
				 <i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'top')"></i>
			 </div>
		 </div>
	 </div>
	</div>
	<div class="_body-wrapper" ng-if="registrants.length > 0">
		<div class="_body cart" ng-class="{'blurred': blurForm}">
			<div class="registrants-wrapper">
				<div class="registrant" ng-repeat="registrantObject in registrants">
					<div class="registrant-error" ng-repeat="error in registrantObject.registrant.errors">
						<i class="fas fa-exclamation-triangle"></i>
						<span class="message">{{error}}</span>
					</div>
					<div class="profile-photo-wrapper">
						<i class="fas fa-user-circle" ng-if="!registrantObject.registrant.details.attendee_photo"></i>
					</div>
					<div class="registrant-details">
						<div class="name-details">
							<span class="name">{{registrantObject.registrant.details.first_name}} {{registrantObject.registrant.details.last_name}}</span>
							<span class="remove-button" ng-click="openRemoveRegistrantPopup(registrantObject.registrant.details)">[ Remove ]</span>
						</div>
						<div class="level-price-details">
							{{registrantObject.registrant.level.name}} Level: {{registrantObject.payment_details.level_price | currency:"$":2}}
						</div>
						<div class="session-price-details" ng-if="registrantObject.payment_details.add_on_sessions.length > 0">
							Add-on Sessions: {{registrantObject.payment_details.total_add_on_session_price | currency:"$":2}}
						</div>
					</div>
					<div class="guests-details">
						<div ng-if="registrantObject.payment_details.total_guest_price > 0">
						<div class="guests-total"><span>Guests:</span> {{registrantObject.payment_details.total_guest_price | currency:"$":2}}</div>
						<div class="guest-object" ng-repeat="guest in registrantObject.registrant.guests">{{guest.first_name}} {{guest.last_name}}</div>
					</div>
					</div>
					<div class="prices-details">
						<div class="total-before-discount">{{registrantObject.payment_details.subtotal | currency:"$":2}}</div>
						<div class="discount-value" ng-if="registrantObject.payment_details.discount && registrantObject.payment_details.discount.errors.length === 0">
							<span class="text">Discount:</span>
							<span class="value">({{registrantObject.payment_details.discount.amount | currency:"$":2}})</span>
						</div>
						<div class="discount-code-wrapper" ng-if="registrantObject.payment_details.discount">
							<span class="discount-code">{{registrantObject.payment_details.discount.code}}</span>
							<span class="remove-code-button" ng-click="removePromoCodeFromRegistrant(registrantObject.registrant.details.id)">[ Remove ]</span>
						</div>
						<div class="discount-error" ng-if="registrantObject.payment_details.discount.errors">
							<span ng-repeat="error in registrantObject.payment_details.discount.errors">{{error}}</span>
						</div>
						<div class="registrant-subtotal">
							<span class="text">Subtotal:</span>
							<span class="value">{{registrantObject.payment_details.total | currency:"$":2}}</span>
						</div>
					</div>
					<div class="registrant-break-line"></div>
				</div>
			</div>
			<div class="promo-code-prices-wrapper">
				<div class="half left">
					<div class="title">promo code</div>
					<div class="promo-code-apply-wrapper">
						<input ng-model="promoCodeModel" class="promo-code-input" placeholder="Enter your promo code here"></input>
						<div class="apply-button" ng-click="applyPromoCode(promoCodeModel)">apply</div>
					</div>
					<div class="error-message" ng-if="promoCodeError">{{promoCodeError}}</div>
					<div class="success-message" ng-if="promoCodeSuccess">Discount applied</div>
				</div>
				<div class="half right">
					<div class="final-subtotal">
						<span class="text">subtotal:</span>
						<span class="value">{{totalPaymentDetails.subtotal | currency:"$":2}}</span>
					</div>
					<div class="final-subtotal" ng-if="totalPaymentDetails.discount">
						<span class="text">total discount:</span>
						<span class="value">({{totalPaymentDetails.discount | currency:"$":2}})</span>
					</div>
					<div class="final-subtotal" ng-if="totalPaymentDetails.processing_fee > 0">
						<span class="text">fee:</span>
						<span class="value">{{totalPaymentDetails.processing_fee | currency:"$":2}}</span>
					</div>
					<div class="final-subtotal thick-text">
						<span class="text">total:</span>
						<span class="value">{{totalPaymentDetails.total | currency:"$":2}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="_footer cart" ng-class="{'blurred': blurForm}">
			<div class="register-another-message">Register another person?</div>
			<div class="_previous-button bigger-cart" ng-click="goToAttendeeInfo()">register another</div>
			<div class="_next-button bigger-cart" ng-click="checkout('bottom')">checkout
				<div class="error-prompt" ng-class="{'visible': errorMessageBottom}" ng-click="handleMissClick($event)">
					<i class="fas fa-exclamation-triangle"></i>
					<div class="text">
						{{errorMessageBottom}}
					</div>
					<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'bottom')"></i>
				</div>
			</div>
		</div>
		<div class="remove-registrant-modal-wrapper" ng-class="{'visible': modalOpened}">
			<div class="message">Are you sure you want to remove this registrant?</div>
			<div class="_previous-button" ng-click="closeRemoveRegistrantPopup()">no</div>
			<div class="_next-button" ng-click="confirmRemoveRegistrant(registrantToBeRemoved)">yes</div>
		</div>
	</div>
	<div class="_body-wrapper" ng-if="registrants.length == 0">
		<div class="_body cart" ng-class="{'blurred': blurForm}">
		<div class="empty-cart">Your cart is empty.</div>
		<div class="empty-cart">
		<div class="_next-button bigger-cart" ng-click="goToAttendeeInfo()">Add an Attendee</div>
	</div>
	</div>
	</div>
</div>
