@charset "utf-8";
._body.cart {
	width: 100%;
  box-sizing: border-box;
  overflow: hidden;
	padding-top: 0px;
	color: #4a4a4a;
}

.registrants-wrapper {
	height: calc(100% - 150px);
	overflow: hidden;
}

.registrants-wrapper .registrant {
	padding-top: 18px;
	width: calc(100% - 35px - 35px);
	margin: 0px auto;
}

.registrants-wrapper .registrant .registrant-error {
	color: #E91D26;
	margin-bottom: 18px;
}

.registrants-wrapper .registrant .registrant-error .fas {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
}

.registrants-wrapper .registrant .registrant-error .message {
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}

.registrants-wrapper .registrant .registrant-break-line {
	width: 111%;
  height: 1px;
  background-color: #CDCDCD;;
  margin-top: 18px;
  margin-left: -5.5%;
}

.registrants-wrapper .registrant:last-child .registrant-break-line {
	height: 0px;
}

.registrants-wrapper .registrant .profile-photo-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 60px;
	font-size: 60px;
	color: #D8D8D8;
	line-height: 60px;
	text-align: left;
}

.registrants-wrapper .registrant .registrant-details {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	width: 34%;
	margin-left: 14px;
}

.registrants-wrapper .registrant .registrant-details .name-details {
	margin-bottom: 3px;
}

.registrants-wrapper .registrant .registrant-details .name-details .name {
	font-weight: 800;
}

.registrants-wrapper .registrant .registrant-details .name-details .remove-button {
	cursor: pointer;
	color: #26A7DE;
}

.registrants-wrapper .registrant .registrant-details .level-price-details {
	margin-bottom: 4px;
}

.registrants-wrapper .registrant .guests-details {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	width: 30%;
}

.registrants-wrapper .registrant .guests-details .guests-total {
	margin-bottom: 3px;
}

.registrants-wrapper .registrant .guests-details .guest-object {
	margin-bottom: 3px;
}

.registrants-wrapper .registrant .guests-details .guest-object::before {
	content: '\2022';
	margin-right: 4px;
}

.registrants-wrapper .registrant .prices-details {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	width: calc(100% - 34% - 30% - 60px - 14px);
}

.registrants-wrapper .registrant .prices-details .discount-error {
	font-style: italic;
	color: #E91D26;
	margin-top: 3px;
}

.registrants-wrapper .registrant .prices-details .total-before-discount {
	text-align: right;
}

.registrants-wrapper .registrant .prices-details .discount-value {
	margin-top: 3px;
}

.registrants-wrapper .registrant .prices-details .discount-value .text {

}

.registrants-wrapper .registrant .prices-details .discount-value .value {
	float: right;
}

.registrants-wrapper .registrant .prices-details .discount-code-wrapper {
	margin-top: 3px;
}

.registrants-wrapper .registrant .prices-details .discount-code-wrapper .discount-code {
	font-style: italic;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}

.registrants-wrapper .registrant .prices-details .discount-code-wrapper .remove-code-button {
	cursor: pointer;
	color: #26A7DE;
	width: 100%;
  display: block;
}

.registrants-wrapper .registrant .prices-details .registrant-subtotal {
	font-weight: 800;
	margin-top: 3px;
}

.registrants-wrapper .registrant .prices-details .registrant-subtotal .value {
	float: right;
}

.cart .promo-code-prices-wrapper {
	width: 100%;
	height: 126px;
	padding-top: 22px;
	padding-bottom: 26px;
	padding-left: 35px;
	padding-right: 35px;
	box-sizing: border-box;
	border-top: 1px solid #CDCDCD;
}

.cart .promo-code-prices-wrapper .half {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

.cart .promo-code-prices-wrapper .half.left {
	width: 72%;
}

.cart .promo-code-prices-wrapper .half.right {
	width: 28%;
}

.cart .promo-code-prices-wrapper .half.left .title {
	font-weight: 800;
	text-transform: capitalize;
	margin-bottom: 12px;
}

.cart .promo-code-prices-wrapper .half.left .promo-code-input {
	width: 210px;
	height: 30px;
	border: 1px solid #cdcdcd;
	background-color: #F0F9FF;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 12px;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.cart .promo-code-prices-wrapper .half.left .promo-code-input:focus {
	outline: none;
}

.cart .promo-code-prices-wrapper .half.left .apply-button {
	height: 30px;
	padding-left: 9px;
	padding-right: 9px;
	border: 1px solid #26A7DE;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	box-sizing: border-box;
	text-transform: uppercase;
	margin-left: 8px;
	font-size: 10px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
}

.cart .promo-code-prices-wrapper .half.left .apply-button:hover {
	background-color: #26A7DE;
	color: white;
}

.cart .promo-code-prices-wrapper .half.left .error-message {
	color: #E91D26;
	font-style: italic;
	margin-top: 7px;
	font-weight: 600;
}

.cart .promo-code-prices-wrapper .half.left .success-message {
	color: #F58A1C;
	font-style: italic;
	margin-top: 7px;
	font-weight: 600;
}

.cart .promo-code-prices-wrapper .half.right .final-subtotal {
	font-size: 12px;
	margin-top: 3px;
}

.cart .promo-code-prices-wrapper .half.right .final-subtotal .text {
	text-transform: capitalize;
}

.cart .promo-code-prices-wrapper .half.right .final-subtotal .value {
	float: right;
}

.cart .promo-code-prices-wrapper .half.right .final-subtotal.thick-text {
	font-weight: 900;
	margin-top: 23px;
}

.cart .empty-cart {
		padding: 30px 0 0 0;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 24px;
		text-align: center;
}

._footer.cart {
	height: 112px;
	text-align: center;
}

._footer.cart .register-another-message {
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	line-height: 36px;
	margin-top: 10px;
	color: #4a4a4a;
}

._previous-button.bigger-cart {
	width: 200px;
}

._next-button.bigger-cart {
	width: 200px;
}

.remove-registrant-modal-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: white;
	border: 3px solid #26A7DE;
	width: 80%;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 75px;
	opacity: 0;
	visibility: hidden;

	transition: opacity .2s ease, transform .2s ease, visibility .2s ease;
}

.remove-registrant-modal-wrapper.visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

.remove-registrant-modal-wrapper .message {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 40px;
}

@media (max-width: 880px) {
	._header .next-shortcut.checkout {
		font-size: 14px;
	}

	.registrants-wrapper .registrant {
		width: calc(100% - 24px - 24px);
	}

	.registrants-wrapper .registrant .profile-photo-wrapper {
		display: none;
	}

	.registrants-wrapper .registrant .registrant-details {
		display: block;
		width: 100%;
		font-size: 14px;
		margin-left: 0px;
	}

	.registrants-wrapper .registrant .registrant-details .name-details .name {
		font-weight: 600;
	}

	.registrants-wrapper .registrant .guests-details {
		display: block;
		font-size: 14px;
		margin-top: 30px;
		width: 100%;
		color: #4D4D4D;
	}

	.registrants-wrapper .registrant .guests-details .guests-total span {
		color: #4A4A4A;
		font-weight: 600;
	}

	.registrants-wrapper .registrant .registrant-details .level-price-details {
		color: #4D4D4D;
	}

	.registrants-wrapper .registrant .registrant-details .session-price-details {
		color: #4D4D4D;
	}

	.registrants-wrapper .registrant .prices-details {
		width: 100%;
		font-size: 14px;
	}

	.registrants-wrapper .registrant .prices-details .registrant-subtotal {
		font-weight: 600;
	}

	._footer.cart {
		height: 100%;
	}

	.cart .promo-code-prices-wrapper .half.left {
		width: 100%;
	}

	.cart .promo-code-prices-wrapper .half.right {
		width: 60%;
		margin-left: 40%;
		margin-top: 30px;
	}

	.cart .promo-code-prices-wrapper .half {
		font-size: 14px;
	}

	.cart .promo-code-prices-wrapper .half.left .promo-code-input {
		height: 45px;
		font-size: 16px;
		color: #4D4D4D;
		-webkit-appearance: none;
		border-radius: 0px;
	}

	.cart .promo-code-prices-wrapper .half.left .promo-code-apply-wrapper {
		font-size: 0;
	}

	.cart .promo-code-prices-wrapper .half.left .apply-button {
		height: 45px;
		font-size: 16px;
		line-height: 45px;
		width: calc(100% - 210px - 8px);
		text-align: center;
		box-sizing: border-box;
	}

	.cart .promo-code-prices-wrapper {
		height: auto;
		padding-left: 24px;
		padding-right: 24px;
	}

	.cart .promo-code-prices-wrapper .half.right .final-subtotal {
		font-size: 14px;
	}

	.cart .promo-code-prices-wrapper .half.right .final-subtotal {
		font-size: 14px;
	}

	.cart .promo-code-prices-wrapper .half.right .final-subtotal.thick-text {
		font-size: 14px;
	}

	._header .new-registrant-shortcut {
		font-size: 17px;
		right: 100px;
	}

	._footer.cart .register-another-message {
		font-size: 16px;
		line-height: 20px;
    padding-bottom: 8px;
	}

	._next-button.bigger-cart {
		width: 45%;
	}

	._previous-button.bigger-cart {
		width: 45%;
	}
}

@media (max-width: 320px){

	.cart .promo-code-prices-wrapper .half.left .promo-code-input {
		margin: 0 auto;
		display: block;
	}

	.cart .promo-code-prices-wrapper .half.left .apply-button {
    display: block;
		margin: 10px auto;
		width: 210px;
	}

	._next-button.bigger-cart,._previous-button.bigger-cart {
		width: 100%;
	}

	._next-button.bigger-cart {
		margin: 0;
	}

}
