<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': registrantInformationSaved}">
  <div class="_body-wrapper without-header">
    <div class="_body blue-background confirm">
      <p>Would you like to pre-register for sessions now?</p>
    </div>
    <div class="_footer">
      <div class="_empty-space confirm"></div>
      <div class="_next-button confirm active" ng-click="confirmPreregistration(true)">YES, Continue</div>
    </div>
  </div>
</div>
