._body.confirm {
  height: calc(100% - 78px - 26px);
  color: #4A4A4A;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  text-align: center;
  width: 51%;
}

.confirm p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

._cancel.confirm {
  width: auto;
}

._empty-space.confirm {
  width: calc(100% - 170px);
}

._next-button.confirm {
  text-transform: none;
}

@media (max-width: 880px) {
  ._body.confirm {
    height: 100%;
    width: 90%;
    position: relative;
  }

  .confirm p {
    font-size: 20px;
    position: absolute;
  }
}
