@charset "utf-8";
._body.sessions {
	width: 100%;
	padding: 0;
}

._form-wrapper ._body-wrapper.sessions {
	height: calc(100% - 58px - 57px)
}

._body.sessions .sessions-wrapper {
	height: calc(100% - 50px);
	overflow: hidden;
}

.day-selector-wrapper {
	width: 100%;
	height: 57px;
	padding-left: 23.5%;
	padding-right: 23.5%;
	background-color: #EDF0F2;
	box-sizing: border-box;

	border-bottom: 1px solid #4A4A4A;
	text-align: center;
}

.day-selector-wrapper.blurred {
	filter: blur(20px)
}

.day-selector-wrapper .day-arrow {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	line-height: 57px;
	color: #4a4a4a;
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
	width: 20px;
	text-align: center;
}

.day-selector-wrapper .day-arrow.clickable {
	opacity: 1;
	cursor: pointer;
	pointer-events: all;
}

.day-selector-wrapper .day-dropdown-wrapper {
	width: 180px;
	height: 30px;
	background-color: #26A7DE;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	cursor: pointer;
	margin-right: calc((100% - 180px - 256px) / 2);
	margin-left: calc((100% - 180px - 256px) / 2);
	box-sizing: border-box;
	position: relative;
	border-radius: 4px;
}

.day-selector-wrapper .day-dropdown-wrapper .selected-day {
	line-height: 28px;
	font-size: 14px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.day-selector-wrapper .day-dropdown-wrapper .dropdown-arrow {
	width: 14px;
	height: 14px;
	background-color: white;
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	border-radius: 100%;
	text-align: center;
}

.day-selector-wrapper .day-dropdown-wrapper .dropdown-arrow .fas {
	font-size: 14px;
	line-height: 16px;
	color: #26A7DE;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector {
	position: absolute;
	top: 28px;
	width: 100%;
	border: 1px solid #cdcdcd;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	box-sizing: border-box;
	height: 200px;
	overflow-y: auto;
	background-color: white;
	transform: scaleY(0);
	opacity: 0;
	transform-origin: top;
	transition: transform .2s ease, opacity .2s ease;
	border-radius: 4px;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.day-selector-wrapper .day-dropdown-wrapper.active.error {
	border: 1px solid #E91D26;
}

.day-selector-wrapper .day-dropdown-wrapper.active .day-dropdown-selector {
	transform: scaleY(1);
	opacity: 1;
}

.day-selector-wrapper .day-dropdown-wrapper.active.error .day-dropdown-selector {
	border: 1px solid #E91D26;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #cdcdcd;
	line-height: 40px;
	text-align: center;
	background-color: white;
	position: relative;
}

// .day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day:last-child {
// 	border-bottom: 0px;
// }

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day .day-name {
	font-size: 12px;
	font-weight: 600;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day .fas {
	font-size: 12px;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%) scale(0);
	transition: transform .2s ease;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day.selected {
	background-color: #F0F9FF;
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day.selected .fas {
	transform: translateY(-50%) scale(1);
}

.day-selector-wrapper .day-dropdown-wrapper .day-dropdown-selector .day.unreachable {
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
}

.hour-group-wrapper .hour-group-header {
	width: 100%;
	height: 45px;
	background-color: rgba(237,240,242,0.5);
	line-height: 45px;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px solid #cdcdcd;
}

.hour-group-wrapper .add-on-session-wrapper {
	height: 60px;
	border-bottom: 1px solid #cdcdcd;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;

	cursor: pointer;
}

.hour-group-wrapper .add-on-session-wrapper::before {
	content: '';
	width: 0px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
}

.hour-group-wrapper .add-on-session-wrapper .checkbox {
	width: 25px;
	height: 25px;

	border: 1px solid #cdcdcd;
	border-radius: 100%;

	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	background-color: transparent;
	transition: background-color .2s ease;
	box-sizing: border-box;
}

.hour-group-wrapper .add-on-session-wrapper .checkbox .fas {
	font-size: 14px;
	color: white;
	line-height: 23px;
	transform: scale(0) ;
	transition: transform .2s ease;
}

.hour-group-wrapper .add-on-session-wrapper .checkbox:hover {
	background-color: #15A748;
}

.hour-group-wrapper .add-on-session-wrapper .checkbox:hover .fas {
	transform: scale(1);
}

.hour-group-wrapper .add-on-session-wrapper .checkbox.active {
	background-color: #15A748;
}

.hour-group-wrapper .add-on-session-wrapper .checkbox.active .fas {
	transform: scale(1);
}

.hour-group-wrapper .add-on-session-wrapper .title {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	font-weight: 600;
	color: #26A7DE;

	padding-left: 10px;
	box-sizing: border-box;

	width: calc(100% - 25px - 140px - 70px);
}

.hour-group-wrapper .add-on-session-wrapper .title span {
	border-bottom: 1px solid #26A7DE;
	padding-bottom: 2px;
}

.hour-group-wrapper .add-on-session-wrapper .times {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #4a4a4a;

	width: 140px;
	text-align: right;
}

.hour-group-wrapper .add-on-session-wrapper .price {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #4a4a4a;

	width: 70px;
	text-align: right;
}

.payment-overview {
	min-height: 50px;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
	background-color: white;
	padding: 10px 5%;
	box-sizing: border-box;

}

.payment-overview .price {
	width: 33.3%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #4a4a4a;
}

.payment-overview .price.left {
	text-align: left;
}

.payment-overview .price.right {
	text-align: right;
}

.sessions-details-popup-wrapper {
	position: absolute;
  width: 80%;
  max-height: 90%;
  top: 5%;
  left: 10%;
	background-color: white;
	border-radius: 4px;
	border: 3px solid #26A7DE;
	z-index: 2;
	padding-top: 36px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;

	opacity: 0;
	transform: scale(0);
	visibility: hidden;

	transition: opacity .2s ease, transform .2s ease, visibility .2s ease;
}

.sessions-details-popup-wrapper.visible {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

.sessions-details-popup-wrapper .content {
	height: calc(100% - 27px - 19px - 19px - 20px - 97px);
  overflow-y: auto;
	overflow-x: hidden;
}

.sessions-details-popup-wrapper .close-button {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 26px;
	top: 11px;
	border-radius: 100%;
	border: 1px solid #9b9b9b;
	cursor: pointer;
	background-color: transparent;
	transition: background-color .2s ease;

}

.sessions-details-popup-wrapper .close-button .line {
	height: 1px;
	width: 15px;
	background-color: #9b9b9b;
	transition: background-color .2s ease;
}

.sessions-details-popup-wrapper .close-button .line.left {
	position: absolute;
  top: 50%;
  left: 20%;
	transform: rotate(45deg);
}

.sessions-details-popup-wrapper .close-button .line.right {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: rotate(-45deg);
}

.sessions-details-popup-wrapper .close-button:hover {
	background-color: #9b9b9b;
}

.sessions-details-popup-wrapper .close-button:hover .line {
	background-color: white;
}
.sessions-details-popup-wrapper .name {
	font-size: 20px;
	font-weight: 600;
	color: #4a4a4a;
	text-align: center;
}

.sessions-details-popup-wrapper .time {
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	font-weight: 600;
	margin-top: 10px;
}

.sessions-details-popup-wrapper .description {
	width: 100%;
	font-size: 14px;
	color: #4a4a4a;
	margin-top: 20px;
}

.sessions-details-popup-wrapper .continuing-education {
	font-size: 14px;
	color: #4a4a4a;
	margin-top: 40px;
}

.sessions-details-popup-wrapper .break-line {
	width: 100%;
	height: 1px;
	background: #9b9b9b;
	margin: 20px 0;
}

.sessions-details-popup-wrapper .break-line.full-width {
	width: 112%;
	margin-left: -6%;
}

.sessions-details-popup-wrapper .speakers-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 24px;
}

.sessions-details-popup-wrapper .speaker {

}

.sessions-details-popup-wrapper .speaker .speaker-upper-details {

}

.sessions-details-popup-wrapper .speaker .speaker-upper-details .photo {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	background-color: #cdcdcd;
	font-size: 20px;
	color: #4a4a4a;
	font-weight: 600;
	line-height: 60px;
	text-align: center;
	cursor: default;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.sessions-details-popup-wrapper .speaker .speaker-upper-details .right-details {
	width: calc(100% - 60px);
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	box-sizing: border-box;
}

.sessions-details-popup-wrapper .speaker .speaker-upper-details .right-details .speaker-name {
	font-size: 12px;
	font-weight: 600;
}

.sessions-details-popup-wrapper .speaker .speaker-upper-details .right-details .speaker-title {
	font-size: 12px;
	margin-top: 4px;
}

.sessions-details-popup-wrapper .speaker .speaker-upper-details .right-details .speaker-social .fab {
	color: #4a4a4a;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 5px;
	transform: translateY(0px) translateZ(0);
	transition: transform .2s ease;
	-webkit-backface-visibility: hidden;
  -webkit-transform:  scale(1.0, 1.0);
  transform: translateZ(0)
}

.sessions-details-popup-wrapper .speaker .speaker-upper-details .right-details .speaker-social .fab:hover {
	transform: translateY(-2px) translateZ(0);
}

.sessions-details-popup-wrapper .speaker .speaker-bio {
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.sessions-details-popup-wrapper .bottom {
	text-align: center;
	height: 97px;
}

.sessions-details-popup-wrapper .bottom ._generic-button.sessions-details {
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
	font-size: 14px;
	font-weight: 600;
}

@media (max-width: 880px) {
	.day-selector-wrapper {
		padding: 0;
	}

	.day-selector-wrapper .day-dropdown-wrapper {
		margin:0 20px;
	}

	.hour-group-wrapper .add-on-session-wrapper {
		height: 80px;
	}

	.hour-group-wrapper .add-on-session-wrapper .title {
		width: calc(100% - 35px);
	}

	.hour-group-wrapper .add-on-session-wrapper .times {
		width: auto;
		margin-left: 35px;
		margin-top: -10px
	}

	.hour-group-wrapper .add-on-session-wrapper .checkbox:hover {
		background-color: transparent;
	}

	.hour-group-wrapper .add-on-session-wrapper .checkbox.active {
    background-color: #15A748;
  }

	.hour-group-wrapper .add-on-session-wrapper .times::after {
		content: '\2022';
		margin-left: 10px;
		margin-right: 10px;
	}

	.hour-group-wrapper .add-on-session-wrapper .price {
		width: auto;
		margin-top: -10px
	}

	.hour-group-wrapper .add-on-session-wrapper .title span {
		width: auto;
		overflow: hidden;
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.hour-group-wrapper .add-on-session-wrapper .checkbox {
		vertical-align: text-top;
	}

	.payment-overview {
		height: auto;
		padding-top: 30px;
    padding-bottom: 36px;
	}

	.payment-overview .price {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 26px;
		font-size: 16px;
	}

	.payment-overview .price.left {
		text-align: center;
	}

	.payment-overview .price.right {
		text-align: center;
		margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
	}

	.sessions-details-popup-wrapper.visible {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95%;
		padding-left: 18px;
		padding-right: 18px;
		padding-top: 50px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.sessions-details-popup-wrapper .content {
		height: calc(100% - 27px - 27px - 19px - 19px - 20px - 97px);
	}
}
