<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': registrantInformationSaved}">
	<div class="_header" ng-class="{'blurred': $root.blurForm}">
		<div class="_header-back-button" ng-click="navigateBack()"></div>
		<div class="inner">
			<div class="title small-text">Add-On Sessions Available</div>
			<cart-shortcut></cart-shortcut>
			<div class="next-shortcut active" ng-click="saveRegistrantAddonSessions($event, groupedSessions, 'top')">
        Next
				<div class="error-prompt" ng-class="{'visible': errorMessageTop}">
  				<i class="fas fa-exclamation-triangle"></i>
  				<div class="text">
  					{{errorMessageTop}}
  				</div>
  				<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'top')"></i>
  			</div>
      </div>
		</div>
	</div>
	<div class="day-selector-wrapper" ng-class="{'blurred': $root.blurForm}">
		<i class="day-arrow fas fa-arrow-left" ng-click="selectPreviousGroup(currentSessionGroup)" ng-class="{'clickable': validGroupsExistBeforeCurrentGroup}"></i>
		<div class="day-dropdown-wrapper" ng-click="toggleDropdownSelector($event)" ng-class="{'active': dropdownSelectorActive, 'error' : errorMessageTop || errorMessageBottom}">
			<div class="selected-day">{{currentSessionGroup.group.dayToDisplay}}</div>
			<div class="dropdown-arrow">
				<i class="fas fa-angle-down"></i>
			</div>
			<div class="day-dropdown-selector">
				<div class="day" ng-repeat="group in groupedSessions" ng-class="{'selected': group.dayToDisplay == currentSessionGroup.group.dayToDisplay, 'unreachable': group.sessions.length === 0}" ng-click="selectGroup($event, group, $index)">
					<div class="day-name">{{group.dayToDisplay}}</div>
					<i class="fas fa-check"></i>
				</div>
			</div>
		</div>
		<i class="day-arrow fas fa-arrow-right" ng-click="selectNextGroup(currentSessionGroup)" ng-class="{'clickable': validGroupsExistAfterCurrentGroup}"></i>
	</div>
	<div class="_body-wrapper sessions">
		<div class="_body sessions" ng-class="{'blurred': $root.blurForm}">
			<div class="sessions-wrapper">
				<div class="hour-group-wrapper" ng-repeat="hourGroup in currentSessionGroup.group.sessionsByHour">
					<div class="hour-group-header">{{hourGroup.keyToShowInView}}</div>
					<div class="add-on-session-wrapper" ng-repeat="session in hourGroup.sessions | orderBy : 'starts_at'" ng-click="openSessionDetails($event, session)">
						<div class="checkbox" ng-click="selectSession($event, session)" ng-class="{'active': session.selected}">
							<i class="fas fa-check"></i>
						</div>
						<div class="title">
							<span>{{session.title}}</span>
						</div>
						<div class="times">{{session.formattedSessionStart}} - {{session.formattedSessionEnd}}</div>
						<div class="price">{{session.price | currency:"$":2}}</div>
					</div>
				</div>
			</div>
			<div class="payment-overview">
				<div class="price left">{{levelName}} Level: {{levelPrice | currency:"$":2}}</div>
				<div class="price">Add-on Sessions: {{sessionsTotal | currency:"$":2}}</div>
				<div class="price right">Total: {{(levelPrice + sessionsTotal) | currency:"$":2 }}</div>
			</div>
		</div>
		<div class="sessions-details-popup-wrapper" ng-class="{'visible': openedSession != null}">
			<div class="close-button" ng-click="closeSessionDetails($event)">
				<div class="line left"></div>
				<div class="line right"></div>
			</div>
			<div class="name">{{openedSession.title}}</div>
			<div class="time">{{openedSession.formattedDay}}; {{openedSession.formattedSessionStart}} - {{openedSession.formattedSessionEnd}}</div>
			<div class="time">{{openedSession.price | currency:"$":2}}</div>
			<div class="content">
				<div class="description">{{openedSession.description}}</div>
				<div class="continuing-education" ng-if="openedSession.continuing_educations.length > 0">
					<span>Continuing Education: </span>
					<span ng-repeat="ce in openedSession.continuing_educations">{{ce.name}}<span ng-if="!$last">,</span> </span>
					<span>- {{openedSession.ce_hours}} Hours</span>

				</div>
				<div class="break-line" ng-if="openedSession.speakers.length > "></div>
				<div class="speakers-title" ng-if="openedSession.speakers.length > 0">
					<span ng-if="openedSession.speakers.length === 1">Speaker</span>
					<span ng-if="openedSession.speakers.length > 1">Speakers</span>
				</div>
				<div class="speakers-wrapper" ng-if="openedSession.speakers.length > 0">
					<div class="speaker" ng-repeat="speaker in openedSession.speakers">
						<div class="speaker-upper-details">
							<div class="photo" style="background-image: url({{speaker.profile_photo}})">
								<div ng-if="!speaker.profile_photo">{{speaker.first_name[0]}}{{speaker.last_name[0]}}</div>
							</div>
							<div class="right-details">
								<div class="speaker-name">{{speaker.first_name}} {{speaker.last_name}}</div>
								<div class="speaker-title">{{speaker.job_title}} <span ng-if="speaker.job_title && speaker.company">,</span> {{speaker.company}}</div>
								<!-- <div class="speaker-social">
									<a href="{{speaker.linkedin_url}}" target="_blank"><i class="fab fa-linkedin"></i></a>
									<a href="{{speaker.facebook_url}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
									<a href="{{speaker.twitter_url}}" target="_blank"><i class="fab fa-twitter"></i></a>
									<a href="{{speaker.youtube_url}}" target="_blank"><i class="fab fa-youtube"></i></a>
								</div> -->
							</div>
						</div>
						<div class="speaker-bio">{{speaker.biography}}</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="break-line full-width"></div>
				<div class="_generic-button sessions-details" ng-class="{'selected': openedSession.selected}" ng-click="selectSession($event, openedSession)">{{openedSession.selected ? "SELECTED" : "SELECT"}}</div>
			</div>
		</div>
		<div class="_footer" ng-class="{'blurred': $root.blurForm}">
			<div class="_empty-space attendee"></div>
			<div class="_previous-button" ng-click="navigateBack()" ng-class="{'disabled': previousButtonDisabled}">previous</div>
			<div class="_next-button active" ng-click="saveRegistrantAddonSessions($event, groupedSessions, 'bottom')">
				next
				<div class="error-prompt" ng-class="{'visible': errorMessageBottom}">
					<i class="fas fa-exclamation-triangle"></i>
					<div class="text">
						{{errorMessageBottom}}
					</div>
					<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'bottom')"></i>
				</div>
			</div>
		</div>
	</div>

</div>
