// <div class="_body"></div>

._body {
	min-height: 400px;
	width: 75%;
	margin: 0px auto;
	padding-top: 26px;
	box-sizing: border-box;
}

._body.blurred {
	filter: blur(20px);
}

@media (max-width: 880px) {
	._body {
		min-height: 100px;
	}
}
