// Markup for the branding component, located under the footer. This component will always be on the screen.

// <div class="_branding">
// 	<div class="text">Powered by</div>
// 	<a href="https://www.expopass.com" target="_blank">
// 		<img src="/app/_assets/images/expo_logo.svg"></img>
// 	</a>
// </div>

._branding {
	height: 60px;
	text-align: center;
	line-height: 60px;
}

._branding .text {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #4a4a4a;
}

._branding a {
	transform: scale(1);
	transition: transform .2s ease;
	height: 20px;
}

._branding a img {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	margin-left: 12px;
}

._branding a:focus {
	transform: scale(1.1);
	outline: none;
}

._branding.blurred {
	filter: blur(20px);
}
