// Markup for the cancel button, that is usually found in the footer

// <div class="_cancel">cancel</div>

._cancel {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #26A7DE;
	text-transform: capitalize;

	width: 45px;
	text-align: center;

	cursor: pointer;
	padding-bottom: 2px;

	border-bottom: 1px solid transparent;

	transition: border-bottom .2s ease;
	line-height: 14px;
}

._cancel:hover {
	border-bottom: 1px solid #26A7DE;
}

@media (max-width: 880px) {
	._cancel {
		display: none;
	}
}
