// Markup for the empty space component. This is used to add space between elements found in the footer. like the cancel button and the next/previous buttons
// Here we will add different styles that will complete the width for the component for each view, like in the ._empty-space.attendee styles

// <div class="_empty-space attendee"></div>

// cancel = 45px;
// button (next/prev) = 148px;
// margins : 20px

._empty-space {
	display: inline-block;
	vertical-align: middle;
}

._empty-space.attendee {
	width: calc(100% - 148px - 148px - 22px)
}

._empty-space.levels {
	width: calc(100% - 148px);
}

@media (max-width: 880px) {
	._empty-space {
		display: none;
	}
}
