._error-wrapper {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #E91D26;
	color: white;
	font-weight: 800;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
	box-sizing: border-box;

	transform: scaleY(0);
	transform-origin: top;

	transition: transform .2s ease;
}

._error-wrapper.visible {
	transform: scaleY(1);
}

._error-wrapper:before {
	content: "";
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

._error-wrapper .fas {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
}

._error-wrapper .error-message {
	font-weight: 600;
	font-size: 16px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 30px);
}
