// Markup for the footer component. It is just a wrapper for other components

// <div class="_footer">
// 	<div class="_cancel">cancel</div>
// 	<div class="_empty-space attendee"></div>
// 	<div class="_previous-button">previous</div>
// 	<div class="_next-button active">next</div>
// </div>

._footer {
	height: 65px;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	line-height: 65px;
	box-sizing: border-box;
	padding-left: 37px;
	padding-right: 37px;
}

._footer.blurred {
	filter: blur(20px);
}

@media (max-width: 880px) {
	._footer {
		text-align: center;
		box-sizing: unset;
		padding: 15px;
	}
}
