body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

html {
	width: 100%;
	margin: 0px;
}

._form-wrapper {
	width: 880px;
	min-height: calc(400px + 58px + 65px);
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
	font-size: 0px;
	margin: 0px auto;
	position: relative;
	margin-top: 3px;
}

._form-wrapper .form {
	height: 100%;
	overflow: hidden;
}

._form-wrapper ._body-wrapper {
	height: calc(100% - 58px);
	overflow: hidden;
}

._form-wrapper ._body-wrapper.without-header {
	height: 100%;
}

@media (max-width: 880px) {
	._form-wrapper {
		width: 100%;
		margin: 0px auto;
		box-shadow: none;
		border: 1px solid rgba(0,0,0,0.3);
		box-sizing: border-box;
		margin-bottom: 45px;
	}
}
