._generic-choice-selector {
	width: 380px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}

._generic-choice-selector .placeholder {
	font-size: 16px;
	color: #818181;
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transition: font-size .2s ease, top .2s ease, transform .2s ease;
}

._generic-choice-selector .placeholder.active {
	font-size: 10px;
	top: 6px;
	transform: translateY(0);
	color: #4a4a4a;
}

._generic-choice-selector .value {
	position: absolute;
	left: 11px;
	bottom: 5px;
	font-size: 14px;
	color: #4a4a4a;
	width: calc(100% - 12px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._generic-choice-selector .options-wrapper {
	position: absolute;
  width: 100%;
	height: 166px;
	overflow: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  top: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

	transform: scaleY(0);
	transform-origin: top;

	opacity: 0;
	transition: transform .2s ease, opacity .2s ease;

	z-index: 2;
}

._generic-choice-selector .options-wrapper.open {
	transform: scaleY(1);
	opacity: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}

._generic-choice-selector .options-wrapper.open::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

._generic-choice-selector .options-wrapper.open::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

._generic-choice-selector .options-wrapper .option {
	height: 28px;
	margin-bottom: 10px;
}

._generic-choice-selector .options-wrapper .option .checkbox {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #979797;
	box-sizing: border-box;
	text-align: center;
	line-height: 16px;
}

._generic-choice-selector .options-wrapper .option .checkbox .fas {
	font-size: 12px;
	color: white;
	line-height: 16px;
}

._generic-choice-selector .options-wrapper .option .option-value {
	width: calc(100% - 18px - 10px);
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	color: #4a4a4a;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

._generic-choice-selector .options-wrapper .option .checkbox.selected {
	background-color: #219DD9;
	border: 1px solid #219DD9;
}

._generic-choice-selector .placeholder span {
	color: #F58A1C;
}

._generic-choice-selector.error {
	border-color: red;
}
