// Generic input component
// To be used everywhere we need to have inputs
// The id should be something unique we get from the server, or something that we generate locally, like in the  attendee info screen, label could be "first_name"

//This component still needs error styles

// <div class="_generic-input-wrapper">
// 	<input type="text" class="_generic-input" id="input" ng-model="model.first_name"></input>
// 	<label for="input" class="_generic-input-label">First Name</label>
// </div>

._generic-input-wrapper {
	position: relative;
	width: 380px;
}

._generic-input-wrapper ._generic-input {
	width: 100%;
	height: 45px;
	padding-left: 11px;
	padding-right: 12px;
	padding-top: 16px;
	border: 1px solid #cdcdcd;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 14px;

	color: #4a4a4a;

	font-family: 'Open Sans';
	-webkit-appearance: none;
	-webkit-transform: translateZ(0px)
}

._generic-input-wrapper ._generic-input.hidden {
	opacity: 0;
	visibility: hidden;
}

._generic-input-wrapper ._generic-input.error {
	border-color: #ED5564;
}

._generic-input-wrapper ._generic-input:focus {
	outline: none;
	color: #4A4A4A;
}

._generic-input-wrapper label {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: #818181;
	transition: top .2s ease, transform .2s ease, font-size .2s ease;
	cursor: text;
	text-transform: capitalize;
}

._generic-input-wrapper label span {
	color: #F58A1C;
	text-transform: none;
}
._generic-input-wrapper ._generic-input.ng-not-empty + label {
	top: 8px;
	transform: none;
	font-size: 10px;
	color: #4a4a4a;
	text-transform: capitalize;
}

._generic-input-wrapper ._generic-input.ng-dirty + label {
	top: 8px;
	transform: none;
	font-size: 10px;
	color: #4a4a4a;
	text-transform: capitalize;
}

._generic-input-wrapper ._generic-input.ng-empty + label {
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	text-transform: capitalize;
}

._generic-input-wrapper ._generic-input:focus + label {
	top: 8px;
	transform: none;
	font-size: 10px;
	color: #4a4a4a;
	text-transform: capitalize;
}

@media (max-width: 880px) {
	._generic-input-wrapper {
		width: 100%;
	}

	._generic-input-wrapper ._generic-input.hidden {
		display: none;
	}
}
