// Markup to use the generic button

// <div class="_generic-button">
// 	<i class="fas fa-check"></i>
// 	select <!-- The text is customizable -->
// </div>

//Markup to use the generic button with a selected/active state
// <div class="_generic-button selected">
// 	<i class="fas fa-check"></i>
// 	selected
// </div>
._generic-button {
	border-radius: 4px;
	text-align: center;
	height: 30px;
	border: 1px solid #26A7DE;
	font-size: 12px;
	width: 90px;
	color: #4a4a4a;
	line-height: 28px;
	text-transform: uppercase;
	background-color: white;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
	box-sizing: border-box;
}

._generic-button:hover {
	background-color: #26A7DE;
	color: white;
}

._generic-button.selected {
	background-color: #68AA3B;
	color: white;
	border: 1px solid #68AA3B;
}

._generic-button i {
	font-size: 0px;
}

._generic-button.selected i {
	font-size: 12px;
	margin-right: 5px;
}

._generic-button.selected:hover {
	color: #4a4a4a;
	background-color: white;
}
