// Markup to use the header component
// Uncomment the markup before using in views

// <div class="_header">
// 	<div class="_header-back-button"></div> <!-- Add the back button only if necessary -->
// 	<div class="inner">
// 		<div class="title">Enter Attendee Details</div> <!-- The title should be modified for each view -->
// 		<div class="cart-icon"> <!-- This will actually be moved into a directive because it contains it's own logic -->
// 			<i class="fas fa-shopping-cart"></i>
// 			<span class="registrants-count">1</span>
// 		</div>
// 		<div class="required-note">* Required</div> <!-- Should appear only if inputs exists in the view-->
// 	</div>
// </div>


._header {
	height: 58px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;

	color: #4a4a4a;
	line-height: 58px;
	font-weight: 800;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	z-index: 1;
}

._header .inner {
	font-size: 0px;
}

._header .inner .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

._header.blurred {
	filter: blur(20px);
}

._header .next-shortcut {
	position: absolute;
	top: 50%;
	right: 24px;
	font-size: 14px;
	font-weight: 600;
	transform: translateY(-50%);
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
	transition: transform .2s ease, opacity .2s ease;
}

._header .next-shortcut.mobile-next p {
	display: inline-block;
	padding-left: 5px;
}

._header .next-shortcut::after {
	font-family: Font Awesome\ 5 Free;
	content: "\f054";
	font-size: 18px;
	-ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari */
  transform: none;
	position: relative;
	top: 0px;
	right: -4px;
}

._header .next-shortcut.active {
	opacity: 1;
	pointer-events: all;
	cursor: pointer;
}

._header .new-registrant-shortcut {
	position: absolute;
	top: 50%;
	right: 143px;
	transform: translateY(-50%) scaleX(-1);
	color: #26A7DE;
	font-size: 22px;
	cursor: pointer;
}

._header .next-shortcut .error-prompt {
	position: absolute;
	padding: 12px;
	width: 280px;
	min-height: 50px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	border-radius: 5px;
	border: 1px solid #E91D26;
	color: #E91D26;
	font-size: 0;

	transform: translateY(5px) translateX(100%);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, visibility .2s ease, opacity .2s ease;

	box-sizing: border-box;
}

._header .next-shortcut .error-prompt.visible {
	right: 0;

	transform: translateY(5px) translateX(0px);
	opacity: 1;
	visibility: visible;

	line-height: normal;
}

._header .next-shortcut .error-prompt::before {
	content: '';
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

._header .next-shortcut .error-prompt * {
	display: inline-block;
	vertical-align: middle;
}

._header .next-shortcut .error-prompt .fas {
	font-size: 20px;
}

._header .next-shortcut .error-prompt .far {
	font-size: 18px;
	color: #979797;
	padding: 6px;
}

._header .next-shortcut .error-prompt .text {
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	width: calc(100% - 54px);
	font-style: italic;
	text-transform: none;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	box-sizing: border-box;
}


@media (max-width: 880px) {
	._header {
		height: 45px;
		line-height: 45px;
	}

	._header .inner .title {
		font-size: 15px;
	}

	._header .next-shortcut {
		height: 44px;
		line-height: 44px;
		right: 14px;
		font-size: 0;
	}

	._header .next-shortcut .fas {
		font-size: 30px;
		line-height: 44px;
	}

	._header .next-shortcut.mobile-next {
		font-size: 14px;
	}

	._header .next-shortcut.mobile-next p {
		font-size: 0;
	}
}
@media (max-width: 360px) {

	._header .inner .title.small-text {
		font-size: 13px;
	}


}
