._header-back-button {
	position: absolute;
	left: 24px;
	transform: scale(1);
	font-size: 18px;
	line-height: 57px;
	font-family: Font Awesome\ 5 Free;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	cursor: pointer;
	transition: transform .2s ease;
	//increase the hit area
	padding-left: 4px;
	padding-right: 4px;

}

._header-back-button::before {
  content: "\f053";
}

._header-back-button:hover {
	transform: scale(1.1);
}


@media (max-width: 880px) {
	._header-back-button {
		line-height: 44px;
		left: 10px;
	}
}
