._form-wrapper .loader,
._form-wrapper .loader {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

._form-wrapper .loader.visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

._form-wrapper .loader::after, ._form-wrapper .loader::before,
._form-wrapper .loader::after,
._form-wrapper .loader::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid 8px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
          animation: wiggle 1.4s ease infinite;
}
._form-wrapper .loader::before,
._form-wrapper .loader::before {
  border-top-color: #28A4DA;
  border-bottom-color: #9DC731;
}
._form-wrapper .loader::after,
._form-wrapper .loader::after {
  border-left-color: #FFB92A;
  border-right-color: #ED492F;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loading-message {
	position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: #4a4a4a;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
