// Markup for the next button, usually located in the footer. Contains active, disabled and hover states.

// <div class="_next-button active"><span>next</span></div>


._next-button {
	position: relative;
	width: 148px;
	height: 30px;
	border-radius: 4px;
	background-color: #26A7DE;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 30px;
	color: white;
	cursor: pointer;
	margin-left: 20px;
	transform: scale(1);
	transition: opacity .2s ease, transform .2s ease;
}

._next-button span {
	text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
	border:1px solid red;
}
._next-button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

._next-button.active:hover {
	transform: scale(1.05);
}

._next-button .error-prompt {
	position: absolute;
	padding: 12px;
	width: 280px;
	min-height: 50px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	border-radius: 5px;
	border: 1px solid #E91D26;
	color: #E91D26;
	font-size: 0;

	transform: translateY(-200%) translateX(100%);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, visibility .2s ease, opacity .2s ease;

	box-sizing: border-box;
}

._next-button .error-prompt.visible {
	right: 0;

	transform: translateY(-200%) translateX(0px);
	opacity: 1;
	visibility: visible;
}

._next-button .error-prompt::before {
	content: '';
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

._next-button .error-prompt * {
	display: inline-block;
	vertical-align: middle;
}

._next-button .error-prompt .fas {
	font-size: 20px;
}

._next-button .error-prompt .far {
	font-size: 18px;
	color: #979797;
	padding: 6px;
}

._next-button .error-prompt .text {
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	width: calc(100% - 54px);
	font-style: italic;
	text-transform: none;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	box-sizing: border-box;
}

@media (max-width: 880px) {
	._next-button {
		height: 45px;
		width: 45%;
		line-height: 45px;
		margin-left: 5%;
		font-size: 16px;
	}

	._next-button .error-prompt.visible {
		right: calc(100vw - 280px);
		transform: translateY(-200%) translateX(calc(100vw - 280px));
	}
}
