// Markup for the previous button, usually located in the footer.

// <div class="_previous-button">previous</div>

._previous-button {

	width: 148px;
	height: 30px;


	border: 1px solid #26A7DE;
	border-radius: 4px;

	display: inline-block;
	vertical-align: middle;

	color: #4a4a4a;
	font-size: 14px;
	line-height: 30px;

	text-transform: capitalize;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
	text-align: center;
}

._previous-button:hover {
	background-color: #26A7DE;
	color: white;
}

._previous-button.disabled {
	pointer-events: none;
}

._previous-button.invisible {
	width: 0;
	border: none;
	pointer-events: none;
	touch-action: none;
	opacity: 0;
	visibility: hidden;
}

@media (max-width: 880px) {


	._previous-button {
		width: 45%;
		height: 45px;
		line-height: 45px;

		font-size: 16px;
	}
}
