._body.guests {
  overflow: hidden;
  width: 100%;
}
.guests p {
  margin: 0;
  padding: 0;
  color: #4A4A4A;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.guests p.benefits {
  font-style: italic;
  margin: 15px 0 30px 0;
  font-weight: 400;
}
.guest-selector-wrapper {
	width: 100%;
	height: 105px;
	padding-left: 23.5%;
	padding-right: 23.5%;
	box-sizing: border-box;
  color: #818181;
  font-family: "Open Sans";
  font-size: 16px;

}

.guest-selector-wrapper .guest-arrow {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	line-height: 105px;
	color: #9B9B9B;
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
	width: 20px;
	text-align: center;
}

.guest-selector-wrapper .guest-arrow.clickable {
	opacity: 1;
	cursor: pointer;
	pointer-events: all;
}

.guest-selector-wrapper .guest-dropdown-wrapper {
	width: 250px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	cursor: pointer;
	margin-right: calc((100% - 250px - 40px) / 2);
	margin-left: calc((100% - 250px - 40px) / 2);
	box-sizing: border-box;
	position: relative;
}

.guest-selector-wrapper .guest-dropdown-wrapper .selected-guest {
  line-height: 45px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  color: #4a4a4a;
}

.guest-selector-wrapper .guest-dropdown-wrapper .selected-guest .price {
  display: inline-block;
}

.guest-selector-wrapper .guest-dropdown-wrapper .dropdown-arrow {
	width: 17px;
	height: 17px;
	background-color: #818181;
	position: absolute;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	border-radius: 100%;
	text-align: center;
}

.guest-selector-wrapper .guest-dropdown-wrapper .dropdown-arrow .fas {
	font-size: 18px;
	line-height: 18px;
	color: #fff;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector {
	position: absolute;
	top: 45px;
	width: 100%;
  height: 200px;
	border: 1px solid #cdcdcd;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	box-sizing: border-box;
	overflow-y: scroll;
	background-color: white;
	transform: scaleY(0);
	opacity: 0;
	transform-origin: top;
	transition: transform .2s ease, opacity .2s ease;
}

.guest-selector-wrapper .guest-dropdown-wrapper.active .guest-dropdown-selector::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.guest-selector-wrapper .guest-dropdown-wrapper.active .guest-dropdown-selector::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.guest-selector-wrapper .guest-dropdown-wrapper.active .guest-dropdown-selector {
	transform: scaleY(1);
	opacity: 1;
  z-index: 2;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector .guest {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #cdcdcd;
	line-height: 45px;
	text-align: center;
	background-color: white;
	position: relative;
  box-sizing: border-box;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector .guest:hover {
  background:#F0F9FF;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector .guest:last-child {
	border-bottom: 0px;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector .guest .guest-name {
	font-size: 14px;
  display: inline;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector .guest .fas {
  position: absolute;
  line-height: 45px;
  right: 15%;
}

.guest-selector-wrapper .guest-dropdown-wrapper .guest-dropdown-selector .guest .price {
  display: inline;
}

.guest-data {
  width: 90%;
  margin: 0 auto 16px auto;
  border-bottom: 1px solid #CDCDCD;
}
.guest-data:last-child {
  border-bottom: 0px;
}
.guest-data ._generic-input-wrapper.guest-info {
	display: inline-block;
	margin-bottom: 16px;
}

.guest-data ._generic-input-wrapper.guest-info:nth-child(2n+1) {
	margin-right: calc(100% - 380px - 380px);
}

.guest-data ._generic-input-wrapper.guest-info.full-width {
  width: 100%;
	margin-right: 0px;
}


@media (max-width: 880px) {

  .guests p {
    font-size: 16px;
    font-weight: 400;
  }

  ._body.guests {
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
  }

  .guest-data {
    width: 100%;
  }

  .guest-data ._generic-input-wrapper.guest-info {
    display: block;
  }

  .guest-data ._generic-input-wrapper.guest-info:nth-child(2n+1) {
    margin-right: 0;
  }

  .guest-selector-wrapper {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
    height: auto;
  }

}
