<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData, 'invisible': registrantInformationSaved}">
  <div class="_header">
    <div class="_header-back-button" ng-click="navigateBack()"></div>
    <div class="inner">
      <div class="title">Guest Registration</div>
      <cart-shortcut></cart-shortcut>
      <div class="next-shortcut active" ng-click="saveRegistrantGuests(attendeeGuests, 'top')">
        Next
        <div class="error-prompt" ng-class="{'visible': errorMessageTop}">
  				<i class="fas fa-exclamation-triangle"></i>
  				<div class="text">
  					{{errorMessageTop}}
  				</div>
  				<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'top')"></i>
  			</div>
      </div>
    </div>
  </div>
  <div class="_body-wrapper">
    <div class="_body guests">
      <p>How many guests would you like to bring?</p>
      <p>(Each guest requires {{guestFee | currency:"$":2}} admission fee)</p>
      <p class="benefits" ng-if="guestBenefit != ''">{{guestBenefit}}</p>
      <div class="guest-selector-wrapper">
      	<div class="guest-dropdown-wrapper" ng-click="toggleDropdownSelector($event)" ng-class="{'active': dropdownSelectorActive}">
      		<div class="selected-guest">{{selectedOption.label}} <div class="price" ng-if="selectedOption.price">({{selectedOption.price | currency:"$":2}})</div></div>
      		<div class="dropdown-arrow">
      			<i class="fas fa-angle-down"></i>
      		</div>
      		<div class="guest-dropdown-selector">
            <div class="guest" ng-repeat="choice in listOfOptions track by $index" ng-click="selectNumberOfGuests(choice)">
              <div class="guest-name">{{choice.label}}</div> <div class="price" ng-if="choice.price">({{choice.price | currency:"$":2}})</div>
              <i class="fas fa-check" ng-if="selectedOption == choice"></i>
            </div>
      		</div>
      	</div>
      </div>
      <div class="guest-data" ng-repeat="guest in attendeeGuests track by $index">
        <form>
          <div class="_generic-input-wrapper guest-info" ng-repeat="field in guest" ng-class="{'full-width': field.code === 'email_address'}">
            <input type="text" class="_generic-input" id="{{field.key}}" name="{{field.key}}" ng-model="field.value" ng-blur="checkIfNeedsValidation(field)" ng-class="{'error': field.error}" ng-model-options="{ debounce: 300 }" ng-if="field.code!='email_address'"></input>
            <label for="{{field.key}}" class="_generic-input-label"><span ng-if="field.error" style="color: inherit;">Please enter a valid </span> {{field.name}} <span ng-if="field.visibility === 'required'" ng-if="field.code!='email_address'">*</span></label>
            <fuzzy-email field="field" ng-if="field.code=='email_address'" check-function="checkIfNeedsValidation(field)"></fuzzy-email>
          </div>
        </form>
      </div>
    </div>
    <div class="_footer">
      <div class="_empty-space attendee"></div>
      <div class="_previous-button" ng-click="navigateBack()" ng-class="{'disabled': previousButtonDisabled}">previous</div>
      <div class="_next-button" ng-click="saveRegistrantGuests(attendeeGuests, 'bottom')">
				next
				<div class="error-prompt" ng-class="{'visible': errorMessageBottom}">
					<i class="fas fa-exclamation-triangle"></i>
					<div class="text">
						{{errorMessageBottom}}
					</div>
					<i class="far fa-times-circle" ng-click="hideErrorMessage($event, 'bottom')"></i>
				</div>
			</div>
    </div>
  </div>
</div>
