.session-navigation-warning-wrapper {
	width: 100%;
	height: 50px;
	background-color: #FEFDE5;
	text-align: center;
	line-height: 50px;
}

.session-navigation-warning-wrapper .icon {
	font-size: 26px;
	color: #E91D26;
	display: inline-block;
	vertical-align: middle;
}

.session-navigation-warning-wrapper .text {
	font-size: 14px;
	color: #E91D26;
	font-family: 'Open Sans';
	line-height: 50px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 800;
	margin-left: 10px;
}

.session-navigation-warning-wrapper .button {
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #26A7DE;
	padding-left: 20px;
	padding-right: 20px;
	height: 30px;
	line-height: 30px;

	display: inline-block;
	vertical-align: middle;

	border: 1px solid #9B9B9B;
	border-radius: 4px;
	box-sizing: border-box;

	margin-left: 10px;
}

.session-navigation-warning-wrapper .button:hover {
	color: #9B9B9B;
	background-color: #26A7DE;
}
