<div class="session-navigation-warning-wrapper" ng-if="scope.visible">
	<span class="icon">
		<i class="fa {{icon}}"></i>
	</span>
	<span class="text">
		{{text}}
	</span>
	<div class="button" ng-repeat="button in buttons" ng-click="sendAction(button.actionEvent)">
		{{button.name}}
	</div>
</div>
