._header.finish {
	background-color: #26A7DE;
	color: #FFFFFF;
}
._body.finish-wrapper {
	width: 67%;
	height: calc(100% - 93px);
	text-align: center;
}

.finish-wrapper p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	color: #4A4A4A;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
	line-height: 33px;
	padding-bottom: 10px;
}


@media (max-width: 880px) {
	._body.finish-wrapper {
		width: 90%;
		height: 100%;
		position: relative;
	}

	.finish-wrapper p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
		transform: none;
	}
}
