<div class="animatable-wrapper inverse-animation" ng-class="{'visible': finishedLoadingData}">
	<div class="_body-wrapper without-header">
		<div class="_body finish-wrapper">
			<p>Registration Complete. <br/> You may change these options at anytime from your email link. Please close this window.</p>
		</div>
<!--
		<div class="_footer">
			<div class="_empty-space attendee big"></div>
			 <div class="_next-button active" ng-click="">finish</div> 
		</div>
	</div>
	-->
</div>
